Data/xapidocs/api_javadocs/XSD/YPM_validateCoupon_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/validateCoupon/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/validateCoupon/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_validateCoupon_output.xsd" yfc:rootElement="Coupon">
        <xsd:appinfo source="yfc:structure">
            <Coupon hasAttributes="Y">
                <CouponStatusAttribute hasAttributes="Y"/>
                <PricingRules>
                    <PricingRule hasAttributes="Y"/>
                </PricingRules>
                <References>
                    <Reference hasAttributes="Y">
                        <CouponStatusAttribute hasAttributes="Y"/>
                    </Reference>
                </References>
            </Coupon>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Coupon" type="yfc:CouponXSDType">
        <xsd:annotation yfc:tableName="YPM_COUPON">
            <xsd:documentation>This table stores information about the coupon. The coupon behavior is defined by the pricing rule associated with it.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CouponXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="CouponStatusAttribute">
                <xsd:complexType>
                    <xsd:attribute name="Name" type="yfctype:Text-100" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>Name of the attribute on the coupon or in the input due to which the coupon is not applicable. </div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Value" type="yfctype:Text-100" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>Value of the attribute.</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRules"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:References"/>
        </xsd:sequence>
        <xsd:attribute name="CouponID" type="yfctype:CouponId" use="optional">
            <xsd:annotation yfc:columnName="COUPON_ID" yfc:tableName="YPM_COUPON">
                <xsd:documentation>
                    <div>Unique identifier of a coupon.
						<Validation>
                            <Condition>
                                <code>CouponID</code> is not passed. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CouponStatusMsgCode"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div class="portlet"
                            style="width:90%">
						Indicates the status of the coupon validation. Following table lists the possible coupon status codes: 
						<table
                            border="0" cellpadding="0" cellspacing="0" class="table">
                            <tr>
                                <td class="tablecolumnheader" width="20%">CouponStatusMsgCode</td>
                                <td align="center"
                                    class="tablecolumnheader" width="40%">Description</td>
                                <td align="center" class="tablecolumnheader">Coupon Status Attributes returned</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_VALID</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon is valid.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_INVALID</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon does not exist.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_PARTIAL</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon is partially valid.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_NOT_ACTIVE</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon is not active.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>PricingStatus</code> of the coupon</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_NOT_YET_EFFECTIVE</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon is not yet active.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>StartDateActive</code> of the coupon</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_EXPIRED</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon is expired.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>EndDateActive</code> of the coupon</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_BAD_CUSTOMER</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon is not assigned to the <code>CustomerID</code>
                                </td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>CustomerID</code> passed in the input. A blank <code>CustomerID</code> indicates that the coupon has no assignments with void <code>CustomerID</code> for the <code>SelectionCriteria</code>.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_BAD_CUSTOMER_CONTACT</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon is not assigned to the <code>CustomerContactID</code>
                                </td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>CustomerContactID</code> passed in the input. A blank <code>CustomerContactID</code> indicates that the coupon has no assignments with void <code>CustomerContactID</code> for the <code>SelectionCriteria</code>.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_BAD_REGION</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon is not assigned to the passed <code>RegionKey</code> or <code>PersonInfo</code>
                                </td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>RegionKey</code> passed or derived based on <code>PersonInfo</code> from the input. A blank <code>RegionKey</code> indicates that the coupon has no assignments with void <code>RegionKey</code> for the <code>SelectionCriteria</code>.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_BAD_ATTRIBUTE</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon is not assigned to the passed customer attribute</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">Any one of the input <code>CustomerType</code>, <code>RelationshipType</code>, <code>Vertical</code> or any extended attribute of the <code>YPM_PRICING_RULE_ASSIGNMENT</code> that didn't match the coupon assignments.  A blank attribute value indicates that the coupon is assigned to all seller organization.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_NOT_ASSIGNED_TO_SELLER</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon is not created by or assigned to the passed seller organization</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>SellerOrganizationCode</code> passed in the input. A blank <code>SellerOrganizationCode</code> indicates that the coupon has assignments with void <code>SellerOrganizationCode</code>.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_TARGET_SKU_MISSING</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The item on which this coupon applies adjustments does not exist in this order</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>TargetItemID</code> and <code>TargetUnitOfMeasure</code> of the coupon.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_CONDITION_NOT_SATISFIED</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon condition is not satisfied. Hence the rule is not fired.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_NOT_APPLICABLE</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon is not applicable. For example a coupon is passed and it is not applicable when <code>RunCatalogOnlyRules</code> is set to <b>
                                    <code>Y</code>
                                    </b>.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_BAD_PAYMENT_METHOD</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The coupon is not applicable to the passed <code>PaymentType</code>in <code>PaymentTypeList</code> from the input.  </td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>PaymentType</code> passed in <code>PaymentTypeList</code> from the input.</td>
                            </tr>
                        </table>
						Note: The above codes are returned by the default coupon validation logic. The user exit implementation of the coupon validation can return any code including the ones in the above table.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Valid" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates whether the coupon is valid or not. This does
							not indicate whether the coupon is applicable or not. Refer
							to <code>CouponStatusMsgCode</code> to determine whether the
							coupon is applicable or not. Refer to the 
							<code>validateCoupon</code> API for details on how a coupon
							is determined to be valid.  If <code>ValidateReferences</code> was
							'<code>Y</code>' the value for this attribute can be Y|N|P. The
							value '<code>P</code>' means that the references for coupon are
							partially valid. Some of the references are valid and some of them
							are not.
							</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value=""/>
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="P"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PricingRules">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricingRule"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRule">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE">
            <xsd:documentation>
                <div>Pricing Rule associated with the Coupon.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description"
                type="yfctype:PricingRuleDescription" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Description of the Pricing Rule associated with the Coupon.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Primary Key of Pricing Rule associated with the Coupon.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="References">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Reference"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Reference">
        <xsd:annotation yfc:tableName="YFS_PROMOTION_REFERENCE">
            <xsd:documentation>This table maintains references against applied promotion on order or order line. For example a unique Coupon barcode.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="CouponStatusAttribute">
                    <xsd:complexType>
                        <xsd:attribute name="Name"
                            type="yfctype:Text-100" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Name of the attribute on the coupon or in the input due to which the coupon is not applicable. </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Value"
                            type="yfctype:Text-100" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Value of the attribute.</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="ReferenceId" type="yfctype:VARCHAR2-40" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_ID" yfc:tableName="YFS_PROMOTION_REFERENCE">
                    <xsd:documentation>Reference value within a particular promotion. For example a unique coupon barcode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceSequence" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_SEQUENCE" yfc:tableName="YFS_PROMOTION_REFERENCE">
                    <xsd:documentation>Sequence number for each reference entry.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PrecisionDigits"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReferenceStatusMsgCode"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div class="portlet"
                                style="width:90%">
						Indicates the status of the reference validation. Following table lists the possible reference status codes: 
						<table
                                border="0" cellpadding="0"
                                cellspacing="0" class="table">
                                <tr>
                                    <td class="tablecolumnheader" width="20%">CouponStatusMsgCode</td>
                                    <td align="center"
                                    class="tablecolumnheader" width="40%">Description</td>
                                    <td align="center" class="tablecolumnheader">Coupon Status Attributes returned</td>
                                </tr>
                                <tr>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_CODE_VALID</td>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The reference is valid.</td>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None</td>
                                </tr>
                                <tr>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_CODE_INVALID</td>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The reference does not exist.</td>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None</td>
                                </tr>
                                <tr>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_BAD_CUSTOMER</td>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The reference is not assigned to the <code>CustomerID</code>
                                    </td>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None</td>
                                </tr>
                                <tr>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_BAD_CUSTOMER_CONTACT</td>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The reference is not assigned to the <code>CustomerContactID</code>
                                    </td>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None</td>
                                </tr>
                            </table>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Valid" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates whether the reference is valid or not. Valid values are Y|N</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
