Data/xapidocs/api_javadocs/XSD/YPM_confirmPromotionUsage_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/confirmPromotionUsage/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/confirmPromotionUsage/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_confirmPromotionUsage_output.xsd" yfc:rootElement="PromotionUsage">
        <xsd:appinfo source="yfc:structure">
            <PromotionUsage hasAttributes="Y">
                <Promotion hasAttributes="Y"/>
            </PromotionUsage>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PromotionUsage" type="yfc:PromotionUsageXSDType">
        <xsd:annotation yfc:tableName="YPM_PROMOTION_USAGE">
            <xsd:documentation>
                <div>
					tracks usage for a promotion
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PromotionUsageXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Promotion"/>
        </xsd:all>
        <xsd:attribute name="CustomerContactID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_CONTACT_ID" yfc:tableName="YPM_PROMOTION_USAGE">
                <xsd:documentation>An identifier of the customer</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YPM_PROMOTION_USAGE">
                <xsd:documentation>Identifies the customer associated with this record. Usually BillToID of the associated Order</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderReference" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ORDER_REFERENCE" yfc:tableName="YPM_PROMOTION_USAGE">
                <xsd:documentation>Order Reference to uniquely identify the order or cart for which promotion usage is recorded</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PROMOTION_USAGE">
                <xsd:documentation>Pricing Organization associated with Seller of the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PROMOTION_USAGE">
                <xsd:documentation>Seller organization code</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Promotion">
        <xsd:annotation yfc:tableName="YPM_PROMOTION_USAGE">
            <xsd:documentation>
                <div>
						promotion information
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Action" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Action to perform
							<br/>
							Valid Values:
							<br/>
                            <b>
                                <code>CREATE</code>
                            </b>
							- Creates a new promotion usage record. If record already exists,
							the existing record will be updated
							<br/>
                            <b>
                                <code>REMOVE</code>
                            </b>
							- removes the existing record from the database.
							<br/>
                            <br/>
							The default behavior is
							<b>
                                <code>CREATE</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PromotionID"
                type="yfctype:PricingRuleName" use="optional">
                <xsd:annotation yfc:columnName="PROMOTION_ID" yfc:tableName="YPM_PROMOTION_USAGE">
                    <xsd:documentation>Identifies the promotion associated with this entry. Is populated with PricingRuleName when internal pricing engine is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PromotionReference"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PROMOTION_REFERENCE" yfc:tableName="YPM_PROMOTION_USAGE">
                    <xsd:documentation>Additional Reference information regarding the instance of promotion. For example Single Use Coupon Code associated to a coupon definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
