Data/xapidocs/api_javadocs/XSD/YPM_copyPricelist_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/copyPricelist/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/copyPricelist/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_copyPricelist_input.xsd" yfc:rootElement="PricelistHeader">
        <xsd:appinfo source="yfc:structure">
            <PricelistHeader hasAttributes="Y">
                <CopyFromPricelistHeader hasAttributes="Y"/>
                <PricelistLineList hasAttributes="Y"/>
            </PricelistHeader>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricelistHeader" type="yfc:PricelistHeaderXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_HDR">
            <xsd:documentation>
                <div>
					Specify the price list to copy to.  Price list is created if the specified price list does not exist. <code>PricelistHeaderKey</code> or a combination of <code>OrganizationCode</code> and <code>PricelistName</code> can be specified to identify a price list.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricelistHeaderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:CopyFromPricelistHeader"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricelistLineList"/>
        </xsd:all>
        <xsd:attribute name="AbsoluteAdjustmentOverride" use="optional">
            <xsd:annotation
                yfc:columnName="ABSOLUTE_ADJUSTMENT_OVERRIDE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Absolute override valid only for a child price list. This adjustment is applied over the unit price obtained from the parent price list.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Price"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Prices in this price list are applicable in this currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-240" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Description of the price list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EndDateActive" use="optional">
            <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>After this date the price list is not active.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="InheritFromPricelistHeaderKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="INHERIT_FROM_PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>The pricelist header key of the price list from which this price list inherits its prices from.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PercentAdjustmentOverride" use="optional">
            <xsd:annotation yfc:columnName="PERCENT_ADJUSTMENT_OVERRIDE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Percentage override valid only for a child price list. This adjustment is applied over the unit price obtained from the parent price list.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:PercentAdjustment"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Primary key attribute of YPM_PRICELIST_HDR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricelistName" type="yfctype:PricelistName" use="optional">
            <xsd:annotation yfc:columnName="PRICELIST_NAME" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>
                    <div>Name of the price list. Mandatory if price list is getting created.
						<Validation>
                            <Condition>
                                <code>PricelistName</code> must be passed if price list is getting created.
							</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingStatus" type="yfctype:PricingStatus" use="optional">
            <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Indicates the status of the price list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Seller who maintains this price list. Prices of items in the price list are defined by the seller.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDateActive" use="optional">
            <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Date from which the price list is active.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CopyFromPricelistHeader">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_HDR">
            <xsd:documentation>
                <div>The price list to copy from. Specify <code>PricelistHeaderKey</code> or <code>PricelistName</code> to identify a price list. 
                    If this price list is copied to a new price list, all attributes copied if not specified for the new price list. 
                    If this price list is copied to an existing  price list, attributes are not copied.
                    <code>InheritFromPricelistHeaderKey</code>, <code>AbsoluteAdjustmentOverride</code> and <code>PercentAdjustmentOverride</code> are copied only if the new price list has the same currency.
						<Validation>
                        <Condition>Not able to find a price list for the passed price list identifiers.
							</Condition>
                        <Error
                            Description="Invalid price list identifiers." ErrorCode="YPM10016"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Primary key attribute of YPM_PRICELIST_HDR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistName"
                type="yfctype:PricelistName" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_NAME" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Name of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricelistLineList">
        <xsd:annotation>
            <xsd:documentation>
                <div>The price list line list to copy from. </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Mode" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Mode of copy operation
							<br/>Valid Values: 
							<br/>
                            <b>
                                <code>Copy</code>
                            </b> - Copies price list lines from price list.
							<br/>
                            <b>
                                <code>Replace</code>
                            </b> - Replaces the existing price list lines and copies. 
							<br/>The default behavior is <b>
                                <code>Copy</code>
                            </b>.
							<Validation>
                                <Condition>If the specified price list to copy from has a different currency from that the of price list and if there are lines to copy.
								</Condition>
                                <Error
                                    Description="Cannot copy price list lines from price list that is defined in different currency." ErrorCode="YPM10070"/>
                            </Validation>
                            <Validation>
                                <Condition>If the <code>Mode</code> is <b>
                                    <code>Copy</code>
                                    </b> and the price list to copy to and the price list to copy from has price list lines.
								</Condition>
                                <Error
                                    Description="Cannot copy price list lines as the price list has lines defined already." ErrorCode="YPM10071"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
