Data/xapidocs/api_javadocs/XSD/YPM_overrideGetLowestItemPriceUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/overrideGetLowestItemPriceUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/overrideGetLowestItemPriceUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_overrideGetLowestItemPriceUE_input.xsd" yfc:rootElement="ItemPrice">
        <xsd:appinfo source="yfc:structure">
            <ItemPrice hasAttributes="Y">
                <LineItems>
                    <LineItem hasAttributes="Y">
                        <LineAdjustments>
                            <Adjustment hasAttributes="Y">
                                <AdjustmentAction hasAttributes="Y"/>
                            </Adjustment>
                        </LineAdjustments>
                        <SelectedPricelistLine hasAttributes="Y">
                            <PricelistLineQuantityTierList>
                                <PricelistLineQuantityTier hasAttributes="Y"/>
                            </PricelistLineQuantityTierList>
                            <PricelistHeader hasAttributes="Y"/>
                            <ChildPricelistHeader hasAttributes="Y"/>
                        </SelectedPricelistLine>
                    </LineItem>
                </LineItems>
            </ItemPrice>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemPrice" type="yfc:ItemPriceXSDType"/>
    <xsd:complexType name="ItemPriceXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineItems"/>
        </xsd:all>
        <xsd:attribute name="BuyerUserId" type="yfctype:ContactUserId" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>An identifier of the customer. This is a pass through field available to user exits.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Currency in which the prices are returned.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YPM_PRICELIST_ASSIGNMENT">
                <xsd:documentation>
                    <div>Indicates the Customer ID on which behalf pricing inquiry is made.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The <code>EnterpriseCode</code> on which behalf pricing inquiry is being made.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreCombinationRules" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <p>
                            <ul style="list-style-type:none">
                                <li>If <code>IgnoreCombinationRules</code> is passed as <b>
                                    <code>N</code>
                                    </b> then Combination Rules will be included if the target Items found in the input.</li>
                                <li>If <code>IgnoreCombinationRules</code> is passed as <b>
                                    <code>Y</code>
                                    </b> then all Combination Rules will be ignored. </li>
                            </ul>
			  			Default value is <b>
                                <code>Y</code>
                            </b>.
				  	</p>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreCustomerAssignments"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <p>
                            <ul style="list-style-type:none">If <code>IgnoreCustomerAssignments</code> is passed as <b>
                                    <code>Y</code>
                                </b>, following is the behavior:
                              <li>- consider any price list which have at least one customer assignment for the passed enterprise.</li>
                                <li>- consider any pricing rule which have at least one customer assignment for the passed enterprise.</li>
                            </ul>
                            <ul style="list-style-type:none"> If <code>IgnoreCustomerAssignments</code> is passed as <b>
                                    <code>N</code>
                                </b>, following is the behavior:
                             <li>-if <code>CustomerID</code> is not passed then consider generic assignments with <code>CustomerType</code> 03 or 04.</li>
                                <li>-if <code>CustomerID</code> is passed then customer assignments with <code>CustomerType</code> 04 are considered, and any assignments based on customer's <code>CustomerType</code> or any other customer attribute is also considered.</li>
                            </ul>
                            <br>Default value is <b>
                                    <code>N</code>
                                </b>.</br>
                        </p>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnorePriceListQuantityTiers"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <p>
                            <ul style="list-style-type:none">
                                <li>If <code>IgnorePriceListQuantityTiers</code> is passed as <b>
                                    <code>N</code>
                                    </b> then select the price list line tier with mapping input quantity.</li>
                                <li>If <code>IgnorePriceListQuantityTiers</code> is passed as <b>
                                    <code>Y</code>
                                    </b> then gets all price list quantity tiers for the given SKU, UOM and select the Price list line tier with lowest price.</li>
                            </ul>
			  			Default value is <b>
                                <code>N</code>
                            </b>.
				  	</p>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreRuleQuantity" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <p>
                            <ul style="list-style-type:none">
                                <li>If <code>IgnoreRuleQuantity</code> is passed as <b>
                                    <code>N</code>
                                    </b> then Quantity Tier Rules will be included based on the quantity in the input for respective item, uom combinations. Discount will be performed based on the input quantity.</li>
                                <li>If <code>IgnoreQuantityTiers</code> is passed as <b>
                                    <code>Y</code>
                                    </b> then selects Quantity Tier Rule with maximum discount irrespective of the quantity in the input. </li>
                            </ul>
			  			Default value is <b>
                                <code>N</code>
                            </b>.
				  	</p>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreSellerAssignments"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <p>
                            <ul style="list-style-type:none">If <code>IgnoreSellerAssignments</code> is passed as <b>
                                    <code>Y</code>
                                </b>, following is the behavior:
                              <li>- consider any price list which has at least one seller assignment for the passed enterprise.</li>
                                <li>- consider any pricing rule which has at least one seller assignment for the passed enterprise.</li>
                            </ul>
                            <ul style="list-style-type:none">If <code>IgnoreSellerAssignments</code> is passed as <b>
                                    <code>N</code>
                                </b>, following is the behavior:
                             <li>- <code>SellerOrganizationCode</code> is not passed, then consider any price list which has a global seller assignment for the passed enterprise.</li>

                                <li>- <code>SellerOrganizationCode</code> is passed then 
                               <ul style="list-style-type:none">
                                    <li>- consider any price list which has a global seller assignment for the passed enterprise.</li>
                                    <li>- consider any pricing price list/rule created and assigned to SellerOrganizationCode passed in the input.</li>
                                    </ul>
                                </li>
                            </ul>
	 		  		    Default value is <b>
                                <code>N</code>
                            </b>. 
				  	</p>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfDaysInPast"
            type="yfctype:PositiveInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>For the given input criteria, computes lowest price by including all the pricelist lines valid between the date time <code>PricingDate - NumberOfDaysInPast</code> and <code>PricingDate</code>. If <code>NumberOfDaysInPast</code> is not passed in the input, default value will be read from the configured rule <code>"PRICING_BLIND_RETURN_DAYS"</code>. Default value for this rule is 90 days.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderReference" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Pricing is being checked on behalf of the organization specified by <code>OrganizationCode</code>.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Date on which the pricing is requested.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Pricing data is either maintained or assigned to the organization specified by <code>SellerOrganizationCode</code>.				
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SuppressRuleExecution" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates whether the rule execution is suppressed or not.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="LineItems">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:LineItem"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineItem">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineAdjustments"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SelectedPricelistLine"/>
            </xsd:all>
            <xsd:attribute name="AbsoluteAdjustment" use="optional">
                <xsd:annotation yfc:columnName="ABSOLUTE_ADJUSTMENT" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>
                        <div>
                            <p>Absolute uplift or discount on the <code>ListPrice</code>.</p>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ExtendedPrice" type="yfctype:Price" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The price for this line before any rule adjustments are accounted for.<code>ExtendedPrice = UnitPrice * Quantity</code>.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Item identifier.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineAdjustment" type="yfctype:Price" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Sum of all adjustments calculated from evaluated pricing rules for line item.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineID" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Unique identifier for the line.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LinePrice" type="yfctype:Price" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The price of the line. <code>LinePrice = ExtendedPrice + LineAdjustment</code>.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>
                        <div>List price of an unit of line item.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:UnitPrice"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PercentAdjustment" use="optional">
                <xsd:annotation yfc:columnName="PERCENT_ADJUSTMENT" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>
                        <div>
                            <p>Percent uplift or discount on the <code>ListPrice</code>.</p>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PercentAdjustment"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The quantity of item used to calculate the prices for this line.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The unit of measure of the item.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Price of an unit of line item. <code>UnitPrice</code> is computed from <code>ListPrice</code> , <code>AbsoluteAdjustment</code> and <code>PercentAdjsutment</code>, <code>UnitPrice = ListPrice * ( 1 + PercentAdjustment / 100) + AbsoluteAdjustment</code>. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineAdjustments">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Adjustment"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Adjustment">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE">
            <xsd:documentation>
                <div>The manual adjustment, coupon or pricing rule which has resulted in this adjustment.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdjustmentAction"/>
            </xsd:all>
            <xsd:attribute name="AdjustmentApplied" type="yfctype:Price" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Total adjustment applied at the line.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdjustmentAvailable"
                type="yfctype:Price" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Total adjustment applicable as part of the pricing rule.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdjustmentID"
                type="yfctype:PricingRuleName" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_NAME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Identifier of the adjustment generated. The <code>PricingRuleName</code> of the pricing rule which has resulted in adjustment is used.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdjustmentPerLine" type="yfctype:Price" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Adjustment for the line.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdjustmentPerUnit" type="yfctype:Price" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Adjustment for every unit of line item.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdjustmentQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Quantity of items to which this adjustment is applicable.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplyProratedAdjustment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="APPLY_PRORATED_ADJUST" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>When enabled adjustment will be distributed to both the target and the qualifiers for combination rules</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="AssociateExclusionCategoryAttributeForTarget"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_EX_CAT_ATTR_TAR" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether exclusion target category and attributes are associated or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="AssociateExclusionCategoryAttributeForTrigger"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_EX_CAT_ATTR_TRIG" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether exclusion trigger category and attributes are associated or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="AssociateInclusionCategoryAttributeForTarget"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_IN_CAT_ATTR_TAR" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether inclusion target category and attributes are associated or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="AssociateInclusionCategoryAttributeForTrigger"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_IN_CAT_ATTR_TRIG" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether inclusion trigger category and attributes are associated or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AwardQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>For header level free gift promotions, indicates free gift quantity that may still be applied. If StatusMsgCode is YPM_RULE_FREE_GIFT_NOT_SELECTED but AwardQuantity is not present, then applicable quantity is unspecified.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>The carrier service that this rule applies on. Applicable only for shipping category of rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The charge category. This attribute is used in the input of YPMOverrideGetOrderPrice User Exit.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The name of the charge. This attribute is used in the input of YPMOverrideGetOrderPrice User Exit. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommonTriggerQuantity" use="optional">
                <xsd:annotation yfc:columnName="COMMON_TRIGGER_QUANTITY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates quantity required to trigger rule, which all valid trigger items count towards.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute
                name="CopyTriggerExclusionsToTargetExclusions"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="COPY_TRIG_EXCLUDES_TO_TARG" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates, Trigger Exclusions are copied to Target Exclusions. Default is Y</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="CopyTriggerInclusionsToTargetInclusions"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="COPY_TRIG_INCLUDES_TO_TARG" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates, Trigger Inclusions are copied to Target Inclusions. Default is N</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Currency in which this rule is applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerRedemptionLimit" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_REDEMPTION_LIMIT" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This option limits the number of times that a pricing rule or coupon can be used by a single customer.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PositiveInteger"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:PricingRuleDescription" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Description of the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DiscountAllCombinationItems"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="DISCOUNT_ALL_COMBO_ITEMS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If 'Y' all target items that create a combination will be discounted</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributeAdjustment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DISTRIBUTE_ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Boolean indicating if the rule adjustments should be distributed to lines or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributeAdjustmentAcrossCombo"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DIST_ADJ_ACROSS_COMBO" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If 'Y' the adjustment for the rule will be distributed across the target combinations</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnableMixNMatchItems"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ENABLE_MIX_N_MATCH_ITEMS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable for multiple target items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>After this date the rule is not active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EndTime" use="optional">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If not void indicates that the rule is applicable till this time.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ExclusivityId" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="EXCLUSIVITY_ID" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>ExclusivityID is used to group set of Pricing Rules for mutual exclusivity. Exclusivity Type settings are applicable among Pricing Rules having same ExclusvityID</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExclusivityType"
                type="yfctype:EnumPricingExclusivityType" use="optional">
                <xsd:annotation yfc:columnName="EXCLUSIVITY_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Exclusivity Type of the Pricing Rule</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IgnoreRuleOnManualAdjustment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IGNORE_RULE_ON_MANUAL_ADJ" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates that this rule is not applicable on entire order or lines that have either manual adjustments or manual rule adjustments specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IgnoreRuleOnPriceLock"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IGNORE_RULE_ON_PRICE_LOCK" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule should not be fired if the line item's unit price is locked. The line item can be the target or the rule trigger. Applicable only for rules that are item targeted, like combination and item quantity rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnFriday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_FRIDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Friday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnMonday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_MONDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Monday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnSaturday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_SATURDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Saturday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnSunday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_SUNDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Sunday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnThursday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_THURSDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Thursday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnTuesday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_TUESDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Tuesday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnWednesday"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_WEDNESDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Wednesday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCouponRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COUPON_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether this rule is a coupon or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCustomRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_CUSTOM_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether the rule is custom or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsFreeGiftRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FREE_GIFT_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether the rule is a free gift rule or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemAttributeValueRule"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ITEM_ATTRIBUTE_VALUE_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates that this item targeted rule is defined on item attribute values. Applicable for all types of rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ITEM_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether the rule is targeted on items or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsManualRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MANUAL_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether this pricing rule is a manually applied adjustment rule or not. A manual pricing rule is suggested by the pricing service based on contents or total of the order, which then again should be specified with the amount of adjustment to be applied against the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsNonInstantDiscountRule"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_NON_INSTANT_DISCOUNT_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates if the pricing rule is a Non-Instant Discount pricing Rule</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemOperatorCode"
                type="yfctype:EnumItemOperatorCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_OPERATOR_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates how the trigger for the rule is evaluated. Applicable only for combination type of rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManualAdjustmentOperation"
                type="yfctype:Operation" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Used by user exit to add a new manual adjustment to the order, or remove an existing manual adjustment from the order.
					 <br/>Valid Values: 
						<br/>
                            <b>
                                <code>ADD</code>
                            </b> - Adds a new manual adjustment to the order.
						<br/>
                            <b>
                                <code>REMOVE</code>
                            </b> - Removes an existing adjustment from the order 
						<br/>
                            <br/>The default behavior is <b>
                                <code>ADD</code>
                            </b>.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimizeNumberOfShipments"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="MINIMIZE_NUMBER_OF_SHIPMENTS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether to optimize on the number of shipments or not. Applicable only for shipping category of rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverallRedemptionLimit" use="optional">
                <xsd:annotation
                    yfc:columnName="OVERALL_REDEMPTION_LIMIT" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This option limits the number of times that a pricing rule or coupon can be used in total, by all customers</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PositiveInteger"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PaymentType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>The rule is applicable for this Payment Type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingComplexity"
                type="yfctype:Text-12" use="optional">
                <xsd:annotation yfc:columnName="PRICING_COMPLEXITY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This attribute is used by SBC application. It is a free text field. This attribute is not used by any pricing api internally.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Primary key attribute of YPM_PRICING_RULE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleName"
                type="yfctype:PricingRuleName" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_NAME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Name of the pricing rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingStatus"
                type="yfctype:PricingStatus" use="optional">
                <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates the status of the pricing rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This attribute is used to prioritize Pricing Rule among a list of applicable pricing rules with same Exclusivity settings. Higher the value of this attribute, higher the priority of Pricing Rule, to be applied to an order/item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RuleCategory"
                type="yfctype:EnumRuleCategory" use="optional">
                <xsd:annotation yfc:columnName="RULE_CATEGORY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates the category to which the rule belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RuleType" type="yfctype:EnumRuleType" use="optional">
                <xsd:annotation yfc:columnName="RULE_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates the type of the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Seller who maintains this pricing rule. Promotion is defined by the seller.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Date from which the rule is active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="StartTime" use="optional">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If not void indicates that the rule is applicable from this time.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="StatusMsgCode" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div class="portlet"
                                style="width:90%">
					Indicates the status of the rule validation and application on the order. Following table lists the possible status codes: 
					<table
                                border="0" cellpadding="0"
                                cellspacing="0" class="table">
                                <tr>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_FREE_GIFT_NOT_SELECTED</td>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">Free gift was not selected or only partially selected for rule. AwardQuantity attribute indicates the free gift quantity that can be applied for this rule.</td>
                                    <td align="center"
                                    class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None.</td>
                                </tr>
                            </table>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdjustmentAction">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_ACTION">
            <xsd:documentation>
                <div>Action of the pricing rule which is performed to generate the adjustment.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Adjustment" use="optional">
                <xsd:annotation yfc:columnName="ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Adjustment to be applied as part of this action.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AdjustmentType"
                type="yfctype:EnumPricingAdjustmentType" use="optional">
                <xsd:annotation yfc:columnName="ADJUSTMENT_TYPE" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Type of adjustment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplyAdjustmentToRemainder"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="APPLY_ADJ_TO_REMAINDER" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Indicates that adjustments should be applied only to the remainder of the transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Unique identifier of the Charge Name. Category to which the charge name belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Name of the charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxAbsoluteAdjustment" use="optional">
                <xsd:annotation yfc:columnName="MAX_ABSOLUTE_ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Maximum absolute adjustment that can be provided for this pricing rule action within a transaction.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MaximumManualAdjustment" use="optional">
                <xsd:annotation yfc:columnName="MAX_MANUAL_ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>The maximum adjustment that can be applied as part of this manual rule action.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OrderTotal" use="optional">
                <xsd:annotation yfc:columnName="ORDER_TOTAL" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>The Order total tier for the order total adjustments. Applicable only for rule type order total.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleActionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_ACTION_KEY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_ACTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>The rule this action is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QualifierAmount" use="optional">
                <xsd:annotation yfc:columnName="QUALIFIER_AMOUNT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>A number that needs to be satisfied in conjunction with the QUALIFIER_AMOUNT_TYPE for the rule condition to satisfy.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="QualifierAmountType"
                type="yfctype:EnumQualifierAmountType" use="optional">
                <xsd:annotation yfc:columnName="QUALIFIER_AMOUNT_TYPE" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Specifies qualifier amount type of the action. Qualifier amount type can be based on minimum unit price or minimum total extended price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Quantity of triggering item for tiered actions. Applicable only for rule type item quantity.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Reference" type="yfctype:Text-50" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Any additional reference related to charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetItemDeterminationRule"
                type="yfctype:EnumTargetItemDeterminationRule" use="optional">
                <xsd:annotation yfc:columnName="TARGET_ITEM_DETER_RULE" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Specifies on which target item the action should be applied. This is required while specifying apply on: 'one quantity of target item' or 'every combination'</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetOccurrenceLimit" use="optional">
                <xsd:annotation yfc:columnName="TARGET_OCCURRENCE_LIMIT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Maximum Number of occurrences of adjustment because of this rule in an order. This field is populated WhenToApply is specified as SPECIFIC_NUMBER.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="WhenToApply"
                type="yfctype:EnumRuleApplicationType" use="optional">
                <xsd:annotation yfc:columnName="WHEN_TO_APPLY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Indicates how to apply the action.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SelectedPricelistLine">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_LINE">
            <xsd:documentation>
                <div>Pricelist line selected for calculating <code>UnitPrice</code>.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricelistLineQuantityTierList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricelistHeader"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChildPricelistHeader"/>
            </xsd:all>
            <xsd:attribute name="AbsoluteAdjustment" use="optional">
                <xsd:annotation yfc:columnName="ABSOLUTE_ADJUSTMENT" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Absolute uplift or discount on the List Price.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChildPricelistHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <code>ChildPricelistHeaderKey</code> is the <code>PricelistHeaderKey</code> of inherited price list.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>After this date the price list line is not active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="FromQuantity" use="optional">
                <xsd:annotation yfc:columnName="FROM_QUANTITY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The quantity from which the tier begins.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Item for which the price is defined in this price list line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>List Price of an item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:UnitPrice"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PercentAdjustment" use="optional">
                <xsd:annotation yfc:columnName="PERCENT_ADJUSTMENT" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Percent uplift or discount on the List Price.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PercentAdjustment"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Price List for which the price list lines are maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_LINE_KEY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Primary key attribute of YPM_PRICELIST_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingStatus"
                type="yfctype:PricingStatus" use="optional">
                <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Indicates the status of the price list line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Date from which the price list line is active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ToQuantity" use="optional">
                <xsd:annotation yfc:columnName="TO_QUANTITY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Upper limit of the quantity tier. A quanity x belongs to the tier only if (FromQuatity &lt;= x &lt; ToQuantity).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <code>UnitPrice</code> is computed from <code>ListPrice</code> , <code>AbsoluteAdjustment</code> and <code>PercentAdjsutment</code>. Formula to calculate <code>UnitPrice</code> is as follows.
						<br>
                                <code>UnitPrice</code> = <code>ListPrice</code> * (1+<code>PercentAdjustment</code>/100) + <code>AbsoluteAdjustment</code>
                            </br>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricelistLineQuantityTierList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricelistLineQuantityTier"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricelistLineQuantityTier">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_LINE">
            <xsd:documentation>This table stores the price associated with the item and quantity tiered prices.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AbsoluteAdjustment" use="optional">
                <xsd:annotation yfc:columnName="ABSOLUTE_ADJUSTMENT" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Absolute uplift or discount on the List Price.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>After this date the price list line is not active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="FromQuantity" use="optional">
                <xsd:annotation yfc:columnName="FROM_QUANTITY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The quantity from which the tier begins.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Item for which the price is defined in this price list line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>List Price of an item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:UnitPrice"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MassAuditID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="MASS_AUDIT_ID" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The unique identifier for the mass audit record.  Indicates the last mass operation that was performed on this price list line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PercentAdjustment" use="optional">
                <xsd:annotation yfc:columnName="PERCENT_ADJUSTMENT" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Percent uplift or discount on the List Price.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PercentAdjustment"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceTypeName"
                type="yfctype:PriceTypeName" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_NAME" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Price Type for this Pricelist Line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Price List for which the price list lines are maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_LINE_KEY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Primary key attribute of YPM_PRICELIST_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingStatus"
                type="yfctype:PricingStatus" use="optional">
                <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Indicates the status of the price list line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Date from which the price list line is active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ToQuantity" use="optional">
                <xsd:annotation yfc:columnName="TO_QUANTITY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Upper limit of the quantity tier. A quanity x belongs to the tier only if (FromQuatity &lt;= x &lt; ToQuantity).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <p>
                                <code>UnitPrice</code> is computed from <code>ListPrice</code> , <code>AbsoluteAdjustment</code> and <code>PercentAdjsutment</code>. Formula to calculate <code>UnitPrice</code> is as follows.
											<br>
                                    <code>UnitPrice</code> = <code>ListPrice</code> * (1+<code>PercentAdjustment</code>/100) + <code>AbsoluteAdjustment</code>
                                </br>
                            </p>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricelistHeader">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_HDR">
            <xsd:documentation>
                <div>Pricelist header for the selected price list line.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PricelistName"
                type="yfctype:PricelistName" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_NAME" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Name of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChildPricelistHeader">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_HDR">
            <xsd:documentation>
                <div>Child pricelist header for the selected price list line if inherited.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PricelistName"
                type="yfctype:PricelistName" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_NAME" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Name of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
