Data/xapidocs/api_javadocs/XSD/YPM_manageCouponCharacterSet_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/manageCouponCharacterSet/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/manageCouponCharacterSet/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_manageCouponCharacterSet_output.xsd" yfc:rootElement="CouponCharacterSet">
        <xsd:appinfo source="yfc:structure">
            <CouponCharacterSet hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CouponCharacterSet" type="yfc:CouponCharacterSetXSDType">
        <xsd:annotation yfc:tableName="YPM_COUPON_CHAR_SET">
            <xsd:documentation>table maintains character set definitions used for defining coupon code format</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CouponCharacterSetXSDType">
        <xsd:attribute name="Abbreviation" type="yfctype:CHAR-1" use="optional">
            <xsd:annotation yfc:columnName="ABBREVIATION" yfc:tableName="YPM_COUPON_CHAR_SET">
                <xsd:documentation>Abbreviation representing this character set in the coupon format</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CharSet" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="CHAR_SET" yfc:tableName="YPM_COUPON_CHAR_SET">
                <xsd:documentation>Character set string. Each character in this string is a possible character in the assigned posistion of unique coupon code</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CouponCharSetKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUPON_CHAR_SET_KEY" yfc:tableName="YPM_COUPON_CHAR_SET">
                <xsd:documentation>Primary key of table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_COUPON_CHAR_SET">
                <xsd:documentation>Description of the character set definition</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="YPM_COUPON_CHAR_SET">
                <xsd:documentation>Name of the character set definition</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_COUPON_CHAR_SET">
                <xsd:documentation>Organization to which the character set data belongs to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
