Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_Action_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Action_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Action_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_Pricing_Rule_Action_master.xsd" yfc:rootElement="PricingRuleAction">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleAction hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleAction" type="yfc:PricingRuleActionXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_ACTION">
            <xsd:documentation>This table maintains the information about the actions of a pricing rule. One of the actions is fired depending on the condition satisfied. This table also maintains the tiered conditions of order total and item quantity rule.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleActionXSDType">
        <xsd:attribute name="Adjustment" use="optional">
            <xsd:annotation yfc:columnName="ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>Adjustment to be applied as part of this action.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Price"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="AdjustmentType"
            type="yfctype:EnumPricingAdjustmentType" use="optional">
            <xsd:annotation yfc:columnName="ADJUSTMENT_TYPE" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>Type of adjustment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplyAdjustmentToRemainder"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="APPLY_ADJ_TO_REMAINDER" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>Indicates that adjustments should be applied only to the remainder of the transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeCategory"
            type="yfctype:ChargeCategory" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>Unique identifier of the Charge Name. Category to which the charge name belongs to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>Name of the charge.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxAbsoluteAdjustment" use="optional">
            <xsd:annotation yfc:columnName="MAX_ABSOLUTE_ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>Maximum absolute adjustment that can be provided for this pricing rule action within a transaction.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Price"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="MaximumManualAdjustment" use="optional">
            <xsd:annotation yfc:columnName="MAX_MANUAL_ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>The maximum adjustment that can be applied as part of this manual rule action.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Price"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrderTotal" use="optional">
            <xsd:annotation yfc:columnName="ORDER_TOTAL" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>The Order total tier for the order total adjustments. Applicable only for rule type order total.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Price"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleActionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_ACTION_KEY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_ACTION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>The rule this action is associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifierAmount" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIER_AMOUNT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>A number that needs to be satisfied in conjunction with the QUALIFIER_AMOUNT_TYPE for the rule condition to satisfy.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Price"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="QualifierAmountType"
            type="yfctype:EnumQualifierAmountType" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIER_AMOUNT_TYPE" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>Specifies qualifier amount type of the action. Qualifier amount type can be based on minimum unit price or minimum total extended price.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>Quantity of triggering item for tiered actions. Applicable only for rule type item quantity.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Reference" type="yfctype:Text-50" use="optional">
            <xsd:annotation>
                <xsd:documentation>Any additional reference related to charge.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TargetItemDeterminationRule"
            type="yfctype:EnumTargetItemDeterminationRule" use="optional">
            <xsd:annotation yfc:columnName="TARGET_ITEM_DETER_RULE" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>Specifies on which target item the action should be applied. This is required while specifying apply on: 'one quantity of target item' or 'every combination'</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TargetOccurrenceLimit" use="optional">
            <xsd:annotation yfc:columnName="TARGET_OCCURRENCE_LIMIT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>Maximum Number of occurrences of adjustment because of this rule in an order. This field is populated WhenToApply is specified as SPECIFIC_NUMBER.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="WhenToApply"
            type="yfctype:EnumRuleApplicationType" use="optional">
            <xsd:annotation yfc:columnName="WHEN_TO_APPLY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                <xsd:documentation>Indicates how to apply the action.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
