Data/xapidocs/api_javadocs/XSD/YPM_deletePricingRuleAssignmentList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/deletePricingRuleAssignmentList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/deletePricingRuleAssignmentList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_deletePricingRuleAssignmentList_output.xsd" yfc:rootElement="PricingRuleAssignment">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleAssignment hasAttributes="Y">
                <PricingRule hasAttributes="Y"/>
                <Coupon hasAttributes="Y"/>
            </PricingRuleAssignment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleAssignment" type="yfc:PricingRuleAssignmentXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
            <xsd:documentation>This table maintains the assignment of pricing rule to customer and customer attributes.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleAssignmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRule"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Coupon"/>
        </xsd:all>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The identifier for the customer. If null then this assignment is applicable irrespective of the CustomerID of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerLevel" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_LEVEL" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The level of a customer with the enterprise. If null then this assignment is applicable irrespective of the customer level of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerType"
            type="yfctype:EnumAssignmentCustomerType" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_TYPE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Indicates the type of customer. If null then this assignment is applicable irrespective of the type of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Organization code of the enterprise to which assignment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfRecordsDeleted"
            type="yfctype:PositiveInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Number of pricing rule assignment records deleted as part of this operation.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleAssignmentKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_ASSIGNMENT_KEY" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_ASSIGNMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The pricing rule that this assignment is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The region associated to the price list. If null then this assignment is applicable irrespective of the region of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The type of the relationship that exists between an organization and an enterprise. If null then this assignment is applicable irrespective of the relationship type of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Shareable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SHAREABLE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Indicates whether the rule should be shared with the customer's descendant customers or not. Applicable only when CustomerID is populated on this assignment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Vertical" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="VERTICAL" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Vertical of the customer to which the pricing rule is assigned. If null then this assignment is applicable irrespective of the vertical of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PricingRule">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE">
            <xsd:documentation>This table provides the information for each pricing rule.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>The carrier service that this rule applies on. Applicable only for shipping category of rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Currency in which this rule is applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeleteAllSellerAssignments"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="Description"
                type="yfctype:PricingRuleDescription" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Description of the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributeAdjustment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DISTRIBUTE_ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Boolean indicating if the rule adjustments should be distributed to lines or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>After this date the rule is not active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IgnoreRuleOnManualAdjustment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IGNORE_RULE_ON_MANUAL_ADJ" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates that this rule is not applicable on entire order or lines that have either manual adjustments or manual rule adjustments specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IgnoreRuleOnPriceLock"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IGNORE_RULE_ON_PRICE_LOCK" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule should not be fired if the line item's unit price is locked. The line item can be the target or the rule trigger. Applicable only for rules that are item targeted, like combination and item quantity rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCouponRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COUPON_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether this rule is a coupon or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCustomRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_CUSTOM_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether the rule is custom or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemAttributeValueRule"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ITEM_ATTRIBUTE_VALUE_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates that this item targeted rule is defined on item attribute values. Applicable for all types of rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ITEM_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether the rule is targeted on items or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsManualRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MANUAL_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether this pricing rule is a manually applied adjustment rule or not. A manual pricing rule is suggested by the pricing service based on contents or total of the order, which then again should be specified with the amount of adjustment to be applied against the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemOperatorCode"
                type="yfctype:EnumItemOperatorCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_OPERATOR_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates how the trigger for the rule is evaluated. Applicable only for combination type of rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimizeNumberOfShipments"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="MINIMIZE_NUMBER_OF_SHIPMENTS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether to optimize on the number of shipments or not. Applicable only for shipping category of rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Primary key attribute of YPM_PRICING_RULE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleName"
                type="yfctype:PricingRuleName" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_NAME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Name of the pricing rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingStatus"
                type="yfctype:PricingStatus" use="optional">
                <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates the status of the pricing rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RuleCategory"
                type="yfctype:EnumRuleCategory" use="optional">
                <xsd:annotation yfc:columnName="RULE_CATEGORY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates the category to which the rule belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RuleType" type="yfctype:EnumRuleType" use="optional">
                <xsd:annotation yfc:columnName="RULE_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates the type of the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Seller who maintains this pricing rule. Promotion is defined by the seller.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Date from which the rule is active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Coupon">
        <xsd:annotation yfc:tableName="YPM_COUPON">
            <xsd:documentation>This table stores information about the coupon. The coupon behavior is defined by the pricing rule associated with it.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CouponID" type="yfctype:CouponId" use="optional">
                <xsd:annotation yfc:columnName="COUPON_ID" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Unique identifier of a coupon.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CouponKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUPON_KEY" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Primary key attribute of YPM_COUPON table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsExclusive" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_EXCLUSIVE" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Indicates whether the coupon is exclusive or not. Either a single exclusive coupon or multiple non-exclusive coupons can be applied on an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Pricing rule associated with the coupon.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
