Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_Category_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Category_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Category_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_Pricing_Rule_Category_master.xsd" yfc:rootElement="PricingRuleCategory">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleCategory hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleCategory" type="yfc:PricingRuleCategoryXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_CATEGORY">
            <xsd:documentation>This table maintains information about the category of the products on which pricing rule is triggered.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleCategoryXSDType">
        <xsd:attribute name="IncludeOrExclude"
            type="yfctype:EnumIncludeOrExclude" use="optional">
            <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_PRICING_RULE_CATEGORY">
                <xsd:documentation>Indicates whether the item's category and Quantity combination is used to trigger or to filter out the rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleCategoryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_CATEGORY_KEY" yfc:tableName="YPM_PRICING_RULE_CATEGORY">
                <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_CATEGORY table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRICING_RULE_CATEGORY">
                <xsd:documentation>Quantity of the item associated with the category being configured.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TriggerCategoryID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_ID" yfc:tableName="YPM_PRICING_RULE_CATEGORY">
                <xsd:documentation>Unique identifier for this category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TriggerCategoryPath"
            type="yfctype:VARCHAR2-800" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YPM_PRICING_RULE_CATEGORY">
                <xsd:documentation>The path for the category of the product on which pricing rule is triggered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
