Data/xapidocs/api_javadocs/XSD/YPM_exportCouponCode_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/exportCouponCode/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/exportCouponCode/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_exportCouponCode_input.xsd" yfc:rootElement="Coupon">
        <xsd:appinfo source="yfc:structure">
            <Coupon hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Coupon" type="yfc:CouponXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
                   Export codes for a given coupon definition.  
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CouponXSDType">
        <xsd:attribute name="BatchNumber"
            type="yfctype:PositiveQuantity" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>the batch number to export <code>1</code>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BatchSize" type="yfctype:PositiveQuantity" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>the number of coupons to export. Default value is <code>1000</code>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CouponID" type="yfctype:CouponId" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Unique identifier of a coupon.
						<Validation>
                            <Condition>
                                <code>CouponID</code> must be passed.
							</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Pricing organization the <code>CouponID</code> belongs to.
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> must be passed.
                            </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> is not valid.
                            </Condition>
                            <Error
                                Description="YFS:Invalid organization code." ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:String" use="required"/>
    </xsd:complexType>
</xsd:schema>
