Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_Locale_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Locale_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Locale_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_Pricing_Rule_Locale_master.xsd" yfc:rootElement="PricingRuleLocale">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleLocale hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleLocale" type="yfc:PricingRuleLocaleXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_LOCALE">
            <xsd:documentation>The table is used to store localized information for the related pricing rule in different locales.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleLocaleXSDType">
        <xsd:attribute name="Country" type="yfctype:Country" use="optional">
            <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YPM_PRICING_RULE_LOCALE">
                <xsd:documentation>The country associated with the locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description"
            type="yfctype:PricingRuleDescription" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICING_RULE_LOCALE">
                <xsd:documentation>Description of the rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YPM_PRICING_RULE_LOCALE">
                <xsd:documentation>The language associated with the locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_LOCALE">
                <xsd:documentation>The reference key to the YPM_PRICING_RULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleLocaleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_LOCALE_KEY" yfc:tableName="YPM_PRICING_RULE_LOCALE">
                <xsd:documentation>The primary key of the YPM_PRICING_RULE_LOCALE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YPM_PRICING_RULE_LOCALE">
                <xsd:documentation>The variant associated with the locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
