Data/xapidocs/api_javadocs/XSD/YPM_getPricingRuleAssignmentList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/getPricingRuleAssignmentList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/getPricingRuleAssignmentList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_getPricingRuleAssignmentList_input.xsd" yfc:rootElement="PricingRuleAssignment">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleAssignment hasAttributes="Y">
                <PricingRule hasAttributes="Y"/>
                <Coupon hasAttributes="Y"/>
            </PricingRuleAssignment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleAssignment" type="yfc:PricingRuleAssignmentXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
            <xsd:documentation>This table maintains the assignment of pricing rule to customer and customer attributes.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleAssignmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ComplexQuery"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRule"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Coupon"/>
        </xsd:all>
        <xsd:attribute name="AssignmentID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNMENT_ID" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Used to UNIQUELY identify a pricing rule assignment. The other columns are still included in the key for backward                     compatible purposes. Note that existing records, which have NULL for ASSIGNMENT_ID, will have the column populated automatically                      by SEQ_YPM_ASSIGNMENTID whenever managePricingRuleAssignment on the record. Once populated, it should be solely used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The identifier for the customer. If null then this assignment is applicable irrespective of the CustomerID of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerLevel" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_LEVEL" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The level of a customer with the enterprise. If null then this assignment is applicable irrespective of the customer level of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerType"
            type="yfctype:EnumAssignmentCustomerType" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_TYPE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Indicates the type of customer. If null then this assignment is applicable irrespective of the type of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Organization code of the enterprise to which assignment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleAssignmentKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_ASSIGNMENT_KEY" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_ASSIGNMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The pricing rule that this assignment is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The region associated to the price list. If null then this assignment is applicable irrespective of the region of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The type of the relationship that exists between an organization and an enterprise. If null then this assignment is applicable irrespective of the relationship type of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Shareable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SHAREABLE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Indicates whether the rule should be shared with the customer's descendant customers or not. Applicable only when CustomerID is populated on this assignment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Vertical" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="VERTICAL" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Vertical of the customer to which the pricing rule is assigned. If null then this assignment is applicable irrespective of the vertical of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PricingRule">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE">
            <xsd:documentation>This table provides the information for each pricing rule.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApplyProratedAdjustment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="APPLY_PRORATED_ADJUST" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>When enabled adjustment will be distributed to both the target and the qualifiers for combination rules</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="AssociateExclusionCategoryAttributeForTarget"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_EX_CAT_ATTR_TAR" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether exclusion target category and attributes are associated or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="AssociateExclusionCategoryAttributeForTrigger"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_EX_CAT_ATTR_TRIG" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether exclusion trigger category and attributes are associated or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="AssociateInclusionCategoryAttributeForTarget"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_IN_CAT_ATTR_TAR" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether inclusion target category and attributes are associated or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="AssociateInclusionCategoryAttributeForTrigger"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_IN_CAT_ATTR_TRIG" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether inclusion trigger category and attributes are associated or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>The carrier service that this rule applies on. Applicable only for shipping category of rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommonTriggerQuantity" use="optional">
                <xsd:annotation yfc:columnName="COMMON_TRIGGER_QUANTITY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates quantity required to trigger rule, which all valid trigger items count towards.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute
                name="CopyTriggerExclusionsToTargetExclusions"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="COPY_TRIG_EXCLUDES_TO_TARG" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates, Trigger Exclusions are copied to Target Exclusions. Default is Y</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="CopyTriggerInclusionsToTargetInclusions"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="COPY_TRIG_INCLUDES_TO_TARG" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates, Trigger Inclusions are copied to Target Inclusions. Default is N</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Currency in which this rule is applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerRedemptionLimit" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_REDEMPTION_LIMIT" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This option limits the number of times that a pricing rule or coupon can be used by a single customer.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PositiveInteger"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:PricingRuleDescription" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Description of the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DiscountAllCombinationItems"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="DISCOUNT_ALL_COMBO_ITEMS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If 'Y' all target items that create a combination will be discounted</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributeAdjustment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DISTRIBUTE_ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Boolean indicating if the rule adjustments should be distributed to lines or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributeAdjustmentAcrossCombo"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DIST_ADJ_ACROSS_COMBO" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If 'Y' the adjustment for the rule will be distributed across the target combinations</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnableMixNMatchItems"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ENABLE_MIX_N_MATCH_ITEMS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable for multiple target items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>After this date the rule is not active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EndTime" use="optional">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If not void indicates that the rule is applicable till this time.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ExclusivityId" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="EXCLUSIVITY_ID" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>ExclusivityID is used to group set of Pricing Rules for mutual exclusivity. Exclusivity Type settings are applicable among Pricing Rules having same ExclusvityID</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExclusivityType"
                type="yfctype:EnumPricingExclusivityType" use="optional">
                <xsd:annotation yfc:columnName="EXCLUSIVITY_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Exclusivity Type of the Pricing Rule</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IgnoreRuleOnManualAdjustment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IGNORE_RULE_ON_MANUAL_ADJ" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates that this rule is not applicable on entire order or lines that have either manual adjustments or manual rule adjustments specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IgnoreRuleOnPriceLock"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IGNORE_RULE_ON_PRICE_LOCK" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule should not be fired if the line item's unit price is locked. The line item can be the target or the rule trigger. Applicable only for rules that are item targeted, like combination and item quantity rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnFriday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_FRIDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Friday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnMonday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_MONDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Monday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnSaturday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_SATURDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Saturday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnSunday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_SUNDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Sunday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnThursday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_THURSDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Thursday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnTuesday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_TUESDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Tuesday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnWednesday"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_WEDNESDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Wednesday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCouponRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COUPON_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether this rule is a coupon or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCustomRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_CUSTOM_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether the rule is custom or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsFreeGiftRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FREE_GIFT_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether the rule is a free gift rule or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemAttributeValueRule"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ITEM_ATTRIBUTE_VALUE_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates that this item targeted rule is defined on item attribute values. Applicable for all types of rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ITEM_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether the rule is targeted on items or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsManualRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MANUAL_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether this pricing rule is a manually applied adjustment rule or not. A manual pricing rule is suggested by the pricing service based on contents or total of the order, which then again should be specified with the amount of adjustment to be applied against the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsNonInstantDiscountRule"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_NON_INSTANT_DISCOUNT_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates if the pricing rule is a Non-Instant Discount pricing Rule</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemOperatorCode"
                type="yfctype:EnumItemOperatorCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_OPERATOR_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates how the trigger for the rule is evaluated. Applicable only for combination type of rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimizeNumberOfShipments"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="MINIMIZE_NUMBER_OF_SHIPMENTS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether to optimize on the number of shipments or not. Applicable only for shipping category of rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverallRedemptionLimit" use="optional">
                <xsd:annotation
                    yfc:columnName="OVERALL_REDEMPTION_LIMIT" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This option limits the number of times that a pricing rule or coupon can be used in total, by all customers</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PositiveInteger"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PaymentType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>The rule is applicable for this Payment Type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingComplexity"
                type="yfctype:Text-12" use="optional">
                <xsd:annotation yfc:columnName="PRICING_COMPLEXITY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This attribute is used by SBC application. It is a free text field. This attribute is not used by any pricing api internally.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Primary key attribute of YPM_PRICING_RULE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleName"
                type="yfctype:PricingRuleName" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_NAME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Name of the pricing rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingStatus"
                type="yfctype:PricingStatus" use="optional">
                <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates the status of the pricing rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This attribute is used to prioritize Pricing Rule among a list of applicable pricing rules with same Exclusivity settings. Higher the value of this attribute, higher the priority of Pricing Rule, to be applied to an order/item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RuleCategory"
                type="yfctype:EnumRuleCategory" use="optional">
                <xsd:annotation yfc:columnName="RULE_CATEGORY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates the category to which the rule belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RuleType" type="yfctype:EnumRuleType" use="optional">
                <xsd:annotation yfc:columnName="RULE_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates the type of the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Seller who maintains this pricing rule. Promotion is defined by the seller.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Date from which the rule is active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="StartTime" use="optional">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If not void indicates that the rule is applicable from this time.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Coupon">
        <xsd:annotation yfc:tableName="YPM_COUPON">
            <xsd:documentation>This table stores information about the coupon. The coupon behavior is defined by the pricing rule associated with it.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AssignedUniqueCodes"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_UNIQUE_CODES" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Indicates  associated unique codes are individual customer assignments.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CodeFormat" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CODE_FORMAT" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Format of generated part of unique code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CouponID" type="yfctype:CouponId" use="optional">
                <xsd:annotation yfc:columnName="COUPON_ID" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Unique identifier of a coupon.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CouponKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUPON_KEY" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Primary key attribute of YPM_COUPON table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GenerateUniqueCodes"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="GENERATE_UNIQUE_CODES" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Specifies whether coupon definition has generated unique codes</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GenerationStatus"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="GENERATION_STATUS" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Status of Unique Code generation</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ImportUniqueCodes" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IMPORT_UNIQUE_CODES" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Indicates associated unique codes are imported from an external system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsExclusive" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_EXCLUSIVE" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Indicates whether the coupon is exclusive or not. Either a single exclusive coupon or multiple non-exclusive coupons can be applied on an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfCodesToGenerate" use="optional">
                <xsd:annotation
                    yfc:columnName="NUMBER_OF_CODES_TO_GENERATE" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Specifies the number of unique codes to generate</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NUMBER-10"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Pricing rule associated with the coupon.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ComplexQuery">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="1">
                <xsd:choice>
                    <xsd:element maxOccurs="1" minOccurs="1" name="And" type="yfc:ComplexQueryAnd"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Or" type="yfc:ComplexQueryOr"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Exp" type="yfc:ComplexQueryExp"/>
                </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="Operator" use="optional">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value=""/>
                        <xsd:enumeration value="AND"/>
                        <xsd:enumeration value="And"/>
                        <xsd:enumeration value="and"/>
                        <xsd:enumeration value="OR"/>
                        <xsd:enumeration value="Or"/>
                        <xsd:enumeration value="or"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ComplexQueryAnd">
        <xsd:sequence maxOccurs="unbounded" minOccurs="1">
            <xsd:choice>
                <xsd:element maxOccurs="1" minOccurs="1" name="And" type="yfc:ComplexQueryAnd"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Or" type="yfc:ComplexQueryOr"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Exp" type="yfc:ComplexQueryExp"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ComplexQueryOr">
        <xsd:sequence maxOccurs="unbounded" minOccurs="1">
            <xsd:choice>
                <xsd:element maxOccurs="1" minOccurs="1" name="And" type="yfc:ComplexQueryAnd"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Or" type="yfc:ComplexQueryOr"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Exp" type="yfc:ComplexQueryExp"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ComplexQueryExp">
        <xsd:attribute name="Name" type="xsd:string" use="required"/>
        <xsd:attribute name="Value" type="xsd:string" use="optional"/>
        <xsd:attribute name="QryType" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value=""/>
                    <xsd:enumeration value="EQ"/>
                    <xsd:enumeration value="LIKE"/>
                    <xsd:enumeration value="FLIKE"/>
                    <xsd:enumeration value="NE"/>
                    <xsd:enumeration value="GE"/>
                    <xsd:enumeration value="LE"/>
                    <xsd:enumeration value="GT"/>
                    <xsd:enumeration value="LT"/>
                    <xsd:enumeration value="ISNULL"/>
                    <xsd:enumeration value="NOTNULL"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
