Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_Pricelist_Exclusion_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Pricelist_Exclusion_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Pricelist_Exclusion_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_Pricing_Rule_Pricelist_Exclusion_master.xsd" yfc:rootElement="PricingRulePricelistExclusion">
        <xsd:appinfo source="yfc:structure">
            <PricingRulePricelistExclusion hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRulePricelistExclusion" type="yfc:PricingRulePricelistExclusionXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_PRCLST_EXCL">
            <xsd:documentation>Maintains a list of price lists the pricing rule should exclude</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRulePricelistExclusionXSDType">
        <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICING_RULE_PRCLST_EXCL">
                <xsd:documentation>Price list to be excluded</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_PRCLST_EXCL">
                <xsd:documentation>The Pricing rule the exclusion is for</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRulePricelistExclusionKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="PRICING_RULE_PRCLST_EXCL_KEY" yfc:tableName="YPM_PRICING_RULE_PRCLST_EXCL">
                <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_PRCLST_EXCL table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
