Data/xapidocs/api_javadocs/XSD/YPM_manageShippingChargeRule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/manageShippingChargeRule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/manageShippingChargeRule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_manageShippingChargeRule_input.xsd" yfc:rootElement="ShippingChargeRule">
        <xsd:appinfo source="yfc:structure">
            <ShippingChargeRule hasAttributes="Y">
                <ShippingChargePolicy hasAttributes="Y"/>
                <ShippingChargeDeliveryMethodList hasAttributes="Y">
                    <ShippingChargeDeliveryMethod hasAttributes="Y"/>
                </ShippingChargeDeliveryMethodList>
                <ShippingChargeServiceList hasAttributes="Y">
                    <ShippingChargeService hasAttributes="Y"/>
                </ShippingChargeServiceList>
                <ShippingChargeActionList hasAttributes="Y">
                    <ShippingChargeAction hasAttributes="Y"/>
                </ShippingChargeActionList>
                <ShippingChargeDestinationList hasAttributes="Y">
                    <ShippingChargeDestination hasAttributes="Y"/>
                </ShippingChargeDestinationList>
                <ShippingChargeItemList hasAttributes="Y">
                    <ShippingChargeItem hasAttributes="Y"/>
                </ShippingChargeItemList>
                <ShippingChargeAttrValueList hasAttributes="Y">
                    <ShippingChargeAttrValue hasAttributes="Y"/>
                </ShippingChargeAttrValueList>
                <ShippingChargeCategoryList hasAttributes="Y">
                    <ShippingChargeCategory hasAttributes="Y"/>
                </ShippingChargeCategoryList>
            </ShippingChargeRule>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShippingChargeRule" type="yfc:ShippingChargeRuleXSDType">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
            <xsd:documentation>
                <div>
                    Specify the shipping charge rule to be created, modified or deleted.  
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShippingChargeRuleXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargePolicy"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeDeliveryMethodList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeServiceList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeActionList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeDestinationList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeItemList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeAttrValueList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeCategoryList"/>
        </xsd:all>
        <xsd:attribute name="ActionType"
            type="yfctype:EnumPricingShippingChargeActionType" use="optional">
            <xsd:annotation yfc:columnName="ACTION_TYPE" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>Charge calculation tier type. Multiple tiers can be defined against a shipping charge rules, based on the available options
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplyToAllItems" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="APPLY_TO_ALL_ITEMS" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>Indicates this shipping charge rule is applicable to all items. If this is not selected, item condition will have to be specified.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeCategory"
            type="yfctype:ChargeCategory" use="required">
            <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>Charge Category associated with the shipping charge. Charge Category should be billable and should not be a discount.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="required">
            <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>Charge Name associated with the shipping charge. Charge Name should belong to the same Category defined in Charge Category field.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="required">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>Currency in which Shipping Charge Rule is applicable.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>Description of the shipping charge.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveEndDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_END_DATE" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>date and time from which this rule is effective</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveEndtDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_END_DATE" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>Date and time after which this shipping charge rule is not effective anymore.
                    <Validation>
                            <Condition>
                                <code>EffectiveEndDate</code> is modified to void.
						</Condition>
                            <Error
                                Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>EffectiveEndDate</code> is on or before <code>EffectiveStartDate</code>.
						</Condition>
                            <Error
                                Description="EffectiveStartDate cannot be on or after EffectiveEndDate" ErrorCode="YPM10013"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveStartDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_START_DATE" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>Date and time from which this shipping charge rule is effective.
                    <Validation>
                            <Condition>
                                <code>EffectiveStartDate</code> is modified to void.
						</Condition>
                            <Error
                                Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>EffectiveStartDate</code> is on or after <code>EffectiveEndDate</code>.
						</Condition>
                            <Error
                                Description="EffectiveStartDate cannot be on or after EffectiveEndDate" ErrorCode="YPM10013"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-120" use="required">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>Name of the shipping charge.
                    <Validation>
                            <Condition>
                                <code>Name</code> must be passed when <code>Operation</code> is <b>
                                    <code>Create</code>
                                </b>.
                            </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Name</code> is modified to void.
                            </Condition>
                            <Error
                                Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Operation to perform
                        <br/>Valid Values: 
                        <br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
                        <br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
                        <br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.
                        <br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
                        <br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
                        <Validation>
                            <Condition>
                                <code>Operation</code> Delete can not be used if the <code>Status</code> is active.
							</Condition>
                            <Error
                                Description="Can not delete an active shipping charge rule" ErrorCode="YPM10159"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SCAC"
            type="yfctype:CarrierOrganizationCode" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>The code of the organization plays the role of carrier.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Sequence" type="yfctype:Number-11" use="required">
            <xsd:annotation yfc:columnName="SEQUENCE" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>Sequence of the rule in comparison with other rules
                    <Validation>
                            <Condition>
                                <code>Sequence</code> number is already being used by another shipping charge rule.
						</Condition>
                            <Error
                                Description="Sequence number is already being used" ErrorCode="YPM10157"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Sequence</code> must be passed when <code>Operation</code> is <b>
                                    <code>Create</code>
                                </b>.
	                    </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShippingChargePolicyKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="SHIPPING_CHARGE_POLICY_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>The shipping charge policy key the shipping charge rule is associated with
	                    <Validation>
                            <Condition>No shipping charge policy exists with this key.
                            </Condition>
                            <Error
                                Description="Shipping Charge Policy does not exist" ErrorCode="YPM10160"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SplitAtAddressLevel" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SPLIT_AT_ADDRESS_LEVEL" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>Items to each ShipToAddress in the same order will be treated as a single order while computing the shipping charge.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Status" use="required">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>
                    <div>Indicates the status of shipping charge rule
                    <Validation>
                            <Condition>
                                <code>Status</code> is passed and not a valid value.
                        </Condition>
                            <Error Description="Invalid PricingStatus." ErrorCode="YPM10012"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ShippingChargePolicy">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
            <xsd:documentation>
                <div>
	                    The shipping charge policy the shipping charge rule is associated with  
	                    <Validation>
                        <Condition>Invalid Shipping Charge Policy <code>Name</code> and <code>OrganizationCode</code>.
                            </Condition>
                        <Error
                            Description="Shipping Charge Policy does not exist" ErrorCode="YPM10160"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Name" type="yfctype:Text-120" use="optional">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
                    <xsd:documentation>
                        <div>Name of the shipping charge policy. 
	                        <Validation>
                                <Condition>
                                    <code>Name</code> is modified to void.
	                            </Condition>
                                <Error
                                    Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
                    <xsd:documentation>
                        <div>Pricing organization to with this policy belongs. Mandatory when <code>Operation</code> is <b>
                                <code>Create</code>
                            </b>.
	                        <Validation>
                                <Condition>
                                    <code>OrganizationCode</code> is not valid.
	                            </Condition>
                                <Error
                                    Description="YFS:Invalid organization code." ErrorCode="YFS10395"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeDeliveryMethodList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeDeliveryMethod"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
			  				If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the existing elements are removed and replaced with the new ones passed in the input.
				  			If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the changes specified in the input are applied.
				  		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeDeliveryMethod">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_DEL_METHOD">
            <xsd:documentation>
                <div>
							Maintains list of delivery methods applicable to a shipping charge definition
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryMethod"
                type="yfctype:EnumPricingShippingDelMethod" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_METHOD" yfc:tableName="YPM_SHIPPING_CHARGE_DEL_METHOD">
                    <xsd:documentation>
                        <div>Applicable Delivery method for shipping charge rule
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Operation to perform
								<br/>Valid Values: 
								<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
								<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
								<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
								<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
								<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeDelMethodKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_DEL_MTHD_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_DEL_METHOD">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeServiceList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeService"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
			  				If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the existing elements are removed and replaced with the new ones passed in the input.
				  			If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the changes specified in the input are applied.
				  		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeService">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_SERVICE">
            <xsd:documentation>
                <div>
							Maintains list of carrier services applicable to a shipping charge definition
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YPM_SHIPPING_CHARGE_SERVICE">
                    <xsd:documentation>
                        <div>The carrier service that the corresponding shipping rule applies on
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Operation to perform
								<br/>Valid Values: 
								<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
								<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
								<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
								<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
								<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeRuleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_RULE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_SERVICE">
                    <xsd:documentation>Primary key of the shipping charge rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeServiceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_SERVICE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_SERVICE">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeActionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeAction"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
			  				If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the existing elements are removed and replaced with the new ones passed in the input.
				  			If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the changes specified in the input are applied.
				  		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeAction">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
            <xsd:documentation>
                <div>
							Maintains list of action tiers applicable to a shipping charge definition
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargePerAdditionalAddress" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_PER_ADD_ADDRESS" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>
                        <div>additional charged applied to each additional address. Only applicable if 'consider each address as separate sub-order' is enabled
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargePerRecurringTier" use="optional">
                <xsd:annotation
                    yfc:columnName="CHARGE_PER_RECURRING_TIER" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>
                        <div>this amount will be added for each recurring tier
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargePerShipment" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_PER_SHIPMENT" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>
                        <div>for each shipment, this charge will be applied. when multiple rules apply against the same shipment, highest charge form applicable rules will be charged.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargePerUnit" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_PER_UNIT" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>
                        <div>for every unit of qualifying item this amount will be added
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargePerUnitWeight" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_PER_UNIT_WEIGHT" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>
                        <div>for every unit weight of qualifying item this amount will be added
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargePercent" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_PERCENT" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>
                        <div>applicable only when action type is dollar
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EndThreshold" use="optional">
                <xsd:annotation yfc:columnName="END_THRESHOLD" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>
                        <div>Depending on tier type of parent shipping charge rule, this could be End Quantity, End Weight or End OrderTotal
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="FixedCharge" use="optional">
                <xsd:annotation yfc:columnName="FIXED_CHARGE" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>
                        <div>this amount will always be added for the tier
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Operation to perform
								<br/>Valid Values: 
								<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
								<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
								<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
								<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
								<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RecurringTierValue" use="optional">
                <xsd:annotation yfc:columnName="RECURRING_TIER_VALUE" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>
                        <div>value for recurring tiers
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeActionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_ACTION_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeRuleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_RULE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>Primary key of the shipping charge rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartThreshold" use="optional">
                <xsd:annotation yfc:columnName="START_THRESHOLD" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>
                        <div>Depending on tier type of parent shipping charge rule, this could be Start Quantity, Start Weight or Start OrderTotal
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="WeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="WEIGHT_UOM" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>
                        <div>Unit of measure of weight. required if charge per unit weight is specified
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeDestinationList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeDestination"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
			  				If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the existing elements are removed and replaced with the new ones passed in the input.
				  			If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the changes specified in the input are applied.
				  		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeDestination">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_DEST">
            <xsd:documentation>
                <div>
							Maintains list of destinations applicable to a shipping charge definition
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Node" type="yfctype:VarcharShipNode" use="optional">
                <xsd:annotation yfc:columnName="NODE" yfc:tableName="YPM_SHIPPING_CHARGE_DEST">
                    <xsd:documentation>
                        <div>the pickup store/ship node for which the corresponding shipping charge is applicable.  If null then shipping charge will be applicable to all destinations in the region
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Operation to perform
								<br/>Valid Values: 
								<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
								<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
								<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
								<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
								<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_DEST">
                    <xsd:documentation>
                        <div>destination region for which the corresponding shipping charge is applicable
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeDestinationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_DEST_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_DEST">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeRuleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_RULE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_DEST">
                    <xsd:documentation>Primary key of the shipping charge rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeItemList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeItem"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
			  				If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the existing elements are removed and replaced with the new ones passed in the input.
				  			If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the changes specified in the input are applied.
				  		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeItem">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_ITEM">
            <xsd:documentation>
                <div>
							Maintains list of destinations applicable to a shipping charge definition
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="IncludeOrExclude"
                type="yfctype:EnumIncludeOrExclude" use="optional">
                <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_SHIPPING_CHARGE_ITEM">
                    <xsd:documentation>
                        <div>Indicates whether the item is used to trigger or to filter out the rule.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_SHIPPING_CHARGE_ITEM">
                    <xsd:documentation>
                        <div>The unique identifier of the target item.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Operation to perform
								<br/>Valid Values: 
								<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
								<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
								<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
								<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
								<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeItemKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_ITEM_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_ITEM">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeRuleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_RULE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_ITEM">
                    <xsd:documentation>Primary key of the shipping charge rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_SHIPPING_CHARGE_ITEM">
                    <xsd:documentation>
                        <div>The unit of measure of the item.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeAttrValueList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeAttrValue"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
			  				If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the existing elements are removed and replaced with the new ones passed in the input.
				  			If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the changes specified in the input are applied.
				  		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeAttrValue">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
            <xsd:documentation>
                <div>
							Maintains list of destinations applicable to a shipping charge definition
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeDomainID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>
                        <div>The unique identifier of the attribute group.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeDoubleValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOUBLE_VALUE" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>
                        <div>The double value of the item attribute.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>The unique identifier of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>
                        <div>Unique identifier of the item attribute.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeIntegerValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_INTEGER_VALUE" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>
                        <div>The integer value of the item attribute.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Integer"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AttributeValue" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_VALUE" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>
                        <div>The TEXT value of the item attribute.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GroupId" use="optional">
                <xsd:annotation yfc:columnName="GROUP_ID" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>
                        <div>Logical group id for the attribute values. All attributes with same group id are evaluated together.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Integer"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IncludeOrExclude"
                type="yfctype:EnumIncludeOrExclude" use="optional">
                <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>
                        <div>Indicates whether the item's attribute value used to trigger or to filter out the rule.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Operation to perform
								<br/>Valid Values: 
								<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
								<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
								<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
								<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
								<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeAttrValueKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_ATTR_VAL_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeRuleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_RULE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>Primary key of the shipping charge rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeCategoryList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeCategory"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
			  				If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the existing elements are removed and replaced with the new ones passed in the input.
				  			If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the changes specified in the input are applied.
				  		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeCategory">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
            <xsd:documentation>
                <div>
							Maintains information about the items categories of the products which the shipping charge definition is applicable
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CategoryID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_ID" yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
                    <xsd:documentation>
                        <div>Unique identifier for this category.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryPath"
                type="yfctype:VARCHAR2-800" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
                    <xsd:documentation>
                        <div>The path for the category of the product on which shipping charge rule is triggered.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IncludeOrExclude"
                type="yfctype:EnumIncludeOrExclude" use="optional">
                <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
                    <xsd:documentation>
                        <div>Indicates whether the item is used to trigger or to filter out the rule.
                    		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Operation to perform
								<br/>Valid Values: 
								<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
								<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
								<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
								<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
								<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeCategoryKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_CATEGORY_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeRuleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_RULE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
                    <xsd:documentation>Primary key of the shipping charge rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
