Data/xapidocs/api_javadocs/XSD/YPM_manageCouponPolicy_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/manageCouponPolicy/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/manageCouponPolicy/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_manageCouponPolicy_input.xsd" yfc:rootElement="CouponPolicy">
        <xsd:appinfo source="yfc:structure">
            <CouponPolicy hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CouponPolicy" type="yfc:CouponPolicyXSDType">
        <xsd:annotation yfc:tableName="YPM_COUPON_POLICY">
            <xsd:documentation>
                <div>
                    Specify the pricing rule to be created, modified or deleted.  
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CouponPolicyXSDType">
        <xsd:attribute name="CouponIdLength" type="yfctype:NUMBER-2" use="optional">
            <xsd:annotation yfc:columnName="COUPON_ID_LENGTH" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>
                    <div>The number of characters, starting at the beginning, of the coupon id to use in the coupon code string. 
                    	<Validation>
                            <Condition>
                                <code>CouponIdLength</code> must be passed when <code>Operation</code> is <b>
                                    <code>Create</code>
                                </b>.
							</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                        <Validation>
                            <Condition>modifying attribute while resource is ACTIVE
                            </Condition>
                            <Error
                                Description="Attribute can not be modify while resource is ACTIVE" ErrorCode="YPM10165"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>CouponIdLength</code> is modified to void.
							</Condition>
                            <Error
                                Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CouponIdStartingIndex"
            type="yfctype:NUMBER-2" use="optional">
            <xsd:annotation yfc:columnName="COUPON_ID_STARTING_INDEX" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>
                    <div>the starting index in the coupon code string for the coupon id. If the coupon id appears as a prefix in the coupon code then the starting index will be 0.  If the coupon Id should appear as a suffix then the starting index should be mentioned as -1 
                        <Validation>
                            <Condition>
                                <code>CouponIdStartingIndex</code> must be passed when <code>Operation</code> is <b>
                                    <code>Create</code>
                                </b>.
							</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                        <Validation>
                            <Condition>modifying attribute while resource is ACTIVE
                            </Condition>
                            <Error
                                Description="Attribute can not be modify while resource is ACTIVE" ErrorCode="YPM10165"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>CouponIdStartingIndex</code> is modified to void.
							</Condition>
                            <Error
                                Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CouponPolicyKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUPON_POLICY_KEY" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>Primary key of table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EndDateActive" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>
                    <div>date and time when the policy becomes inactive. no two policies can be active at the same time.
                        <Validation>
                            <Condition>
                                <code>EndDateActive</code> is modified to void.
							</Condition>
                            <Error
                                Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>EndDateActive</code> is on or before <code>StartDateActive</code>.
							</Condition>
                            <Error
                                Description="StartDateActive cannot be on or after EndDateActive." ErrorCode="YPM10013"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>
                    <div>Name for the coupon character set. 
                        <Validation>
                            <Condition>
                                <code>Name</code> must be passed when <code>Operation</code> is <b>
                                    <code>Create</code>
                                </b>.
                            </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Name</code> is modified to void.
                            </Condition>
                            <Error
                                Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Operation to perform
                        <br/>Valid Values: 
                        <br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
                        <br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
                        <br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.
                        <br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
                        <br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
                        <Validation>
                            <Condition>Multiple coupon policies are active at the same time.  Only one policy can be active at any given time.
                            </Condition>
                            <Error
                                Description="Multiple Active coupon policies were found for the organization" ErrorCode="YPM10168"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>
                    <div>Pricing organization to with this policy belongs. Mandatory when <code>Operation</code> is <b>
                            <code>Create</code>
                        </b>.
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> must be passed when <code>Operation</code> is <b>
                                    <code>Create</code>
                                </b>.
                            </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> is not valid.
                            </Condition>
                            <Error
                                Description="YFS:Invalid organization code." ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PadChar" type="yfctype:CHAR-1" use="optional">
            <xsd:annotation yfc:columnName="PAD_CHAR" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>
                    <div>The character to use as padding if the length of the <code>CouponID</code> is less than the <code>CouponIdLength</code>
                        <Validation>
                            <Condition>modifying attribute while resource is ACTIVE
                            </Condition>
                            <Error
                                Description="Attribute can not be modify while resource is ACTIVE" ErrorCode="YPM10165"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>PadChar</code> is modified to void.
							</Condition>
                            <Error
                                Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDateActive" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>
                    <div>date and time when the policy becomes active. no two policies can be active at the same time.
                        <Validation>
                            <Condition>modifying attribute while resource is ACTIVE
                            </Condition>
                            <Error
                                Description="Attribute can not be modify while resource is ACTIVE" ErrorCode="YPM10165"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>StartDateActive</code> is modified to void.
							</Condition>
                            <Error
                                Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>StartDateActive</code> is on or after <code>EndDateActive</code>.
							</Condition>
                            <Error
                                Description="StartDateActive cannot be on or after EndDateActive." ErrorCode="YPM10013"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:PricingStatus" use="optional">
            <xsd:annotation yfc:columnName="Status" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>
                    <div>status of the coupon policy. valid values are ACTIVE and INACTIVE
                        <Validation>
                            <Condition>
                                <code>PricingStatus</code> is passed and not a valid value.
							</Condition>
                            <Error Description="Invalid PricingStatus." ErrorCode="YPM10012"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
