Data/xapidocs/api_javadocs/XSD/YPM_manageShippingChargeRule_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/manageShippingChargeRule/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/manageShippingChargeRule/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_manageShippingChargeRule_output.xsd" yfc:rootElement="ShippingChargeRule">
        <xsd:appinfo source="yfc:structure">
            <ShippingChargeRule hasAttributes="Y">
                <ShippingChargePolicy/>
                <ShippingChargeDeliveryMethodList>
                    <ShippingChargeDeliveryMethod hasAttributes="Y"/>
                </ShippingChargeDeliveryMethodList>
                <ShippingChargeServiceList>
                    <ShippingChargeService hasAttributes="Y"/>
                </ShippingChargeServiceList>
                <ShippingChargeActionList>
                    <ShippingChargeAction hasAttributes="Y"/>
                </ShippingChargeActionList>
                <ShippingChargeDestinationList>
                    <ShippingChargeDestination hasAttributes="Y"/>
                </ShippingChargeDestinationList>
                <ShippingChargeItemList>
                    <ShippingChargeItem hasAttributes="Y"/>
                </ShippingChargeItemList>
                <ShippingChargeAttrValueList>
                    <ShippingChargeAttrValue hasAttributes="Y"/>
                </ShippingChargeAttrValueList>
                <ShippingChargeCategoryList>
                    <ShippingChargeCategory hasAttributes="Y"/>
                </ShippingChargeCategoryList>
            </ShippingChargeRule>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShippingChargeRule" type="yfc:ShippingChargeRuleXSDType">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
            <xsd:documentation>Maintains list of shipping charge rules for a pricing organization</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShippingChargeRuleXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargePolicy"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeDeliveryMethodList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeServiceList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeActionList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeDestinationList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeItemList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeAttrValueList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingChargeCategoryList"/>
        </xsd:all>
        <xsd:attribute name="ActionType"
            type="yfctype:EnumPricingShippingChargeActionType" use="optional">
            <xsd:annotation yfc:columnName="ACTION_TYPE" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>Charge calculation tier type.  Multiple tiers can be defined against a shipping charge rule based on the action type</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplyToAllItems" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="APPLY_TO_ALL_ITEMS" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>Indicates this shipping charge rule is applicable to all items.  If this is not selected, item condition will have to be specified</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeCategory"
            type="yfctype:ChargeCategory" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>Unique identifier of the Charge Name. Category to which the charge name belongs to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>Name of the charge.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>Currency in which this rule is applicable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>Description of the Shipping Charge Rule</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveEndDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_END_DATE" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>date and time from which this rule is effective</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveStartDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_START_DATE" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>Date and time from which this rule is effective</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>Name of Shipping Charge Rule</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SCAC"
            type="yfctype:CarrierOrganizationCode" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>The code of the organization that plays the role of carrier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Sequence" type="yfctype:Number-11" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>Sequence of the rule in comparison with other rules</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShippingChargePolicyKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPPING_CHARGE_POLICY_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>Primary key of associated with shipping charge policy table</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SplitAtAddressLevel" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SPLIT_AT_ADDRESS_LEVEL" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>items to each ShipToAddress in the same order will be treated as a single order while computing the shipping charge</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YPM_SHIPPING_CHARGE_RULE">
                <xsd:documentation>Indicates the status of the shipping charge rule</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ShippingChargePolicy">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
            <xsd:documentation>Maintains list of shipping charge policies for a pricing organization</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="ShippingChargeDeliveryMethodList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeDeliveryMethod"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeDeliveryMethod">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_DEL_METHOD">
            <xsd:documentation>Maintains list of delivery methods applicable to a shipping charge definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryMethod"
                type="yfctype:EnumPricingShippingDelMethod" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_METHOD" yfc:tableName="YPM_SHIPPING_CHARGE_DEL_METHOD">
                    <xsd:documentation>Applicable Delivery method for shipping charge rule</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeDelMethodKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_DEL_MTHD_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_DEL_METHOD">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeServiceList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeService"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeService">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_SERVICE">
            <xsd:documentation>Maintains list of carrier services applicable to a shipping charge definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YPM_SHIPPING_CHARGE_SERVICE">
                    <xsd:documentation>The carrier service that the corresponding shipping rule applies on</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeRuleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_RULE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_SERVICE">
                    <xsd:documentation>Primary key of the shipping charge rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeServiceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_SERVICE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_SERVICE">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeActionList">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
            <xsd:documentation>Maintains list of action tiers applicable to a shipping charge definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeAction"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeAction">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
            <xsd:documentation>Maintains list of action tiers applicable to a shipping charge definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargePerAdditionalAddress" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_PER_ADD_ADDRESS" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>additional charged applied to each additional address. Only applicable if 'consider each address as separate sub-order' is enabled</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargePerRecurringTier" use="optional">
                <xsd:annotation
                    yfc:columnName="CHARGE_PER_RECURRING_TIER" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>this amount will be added for each recurring tier</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargePerShipment" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_PER_SHIPMENT" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>for each shipment, this charge will be applied. when multiple rules apply against the same shipment, highest charge form applicable rules will be charged.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargePerUnit" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_PER_UNIT" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>for every unit of qualifying item this amount will be added</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargePerUnitWeight" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_PER_UNIT_WEIGHT" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>for every unit weight of qualifying item this amount will be added</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargePercent" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_PERCENT" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>applicable only when action type is dollar</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EndThreshold" use="optional">
                <xsd:annotation yfc:columnName="END_THRESHOLD" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>Depending on tier type of parent shipping charge rule, this could be End Quantity, End Weight or End OrderTotal</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="FixedCharge" use="optional">
                <xsd:annotation yfc:columnName="FIXED_CHARGE" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>this amount will always be added for the tier</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RecurringTierValue" use="optional">
                <xsd:annotation yfc:columnName="RECURRING_TIER_VALUE" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>value for recurring tiers</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeActionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_ACTION_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeRuleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_RULE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>Primary key of the shipping charge rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartThreshold" use="optional">
                <xsd:annotation yfc:columnName="START_THRESHOLD" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>Depending on tier type of parent shipping charge rule, this could be Start Quantity, Start Weight or Start OrderTotal</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="WeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="WEIGHT_UOM" yfc:tableName="YPM_SHIPPING_CHARGE_ACTION">
                    <xsd:documentation>Unit of measure of weight. required if charge per unit weight is specified</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeDestinationList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeDestination"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeDestination">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_DEST">
            <xsd:documentation>Maintains list of destinations applicable to a shipping charge definition</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Node" type="yfctype:VarcharShipNode" use="optional">
                <xsd:annotation yfc:columnName="NODE" yfc:tableName="YPM_SHIPPING_CHARGE_DEST">
                    <xsd:documentation>the pickup store/ship node for which the corresponding shipping charge is applicable.  If null then shipping charge will be applicable to all destinations in the region</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_DEST">
                    <xsd:documentation>destination region for which the corresponding shipping charge is applicable</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeDestinationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_DEST_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_DEST">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeRuleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_RULE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_DEST">
                    <xsd:documentation>Primary key of the shipping charge rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeItemList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeItem"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeItem">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_ITEM">
            <xsd:documentation>Maintains information about the items on which the shipping charge definition is applicable</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="IncludeOrExclude"
                type="yfctype:EnumIncludeOrExclude" use="optional">
                <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_SHIPPING_CHARGE_ITEM">
                    <xsd:documentation>Indicates whether the item is used to trigger or to filter out the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_SHIPPING_CHARGE_ITEM">
                    <xsd:documentation>The unique identifier of the target item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeItemKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_ITEM_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_ITEM">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeRuleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_RULE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_ITEM">
                    <xsd:documentation>Primary key of the shipping charge rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_SHIPPING_CHARGE_ITEM">
                    <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeAttrValueList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeAttrValue"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeAttrValue">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
            <xsd:documentation>Maintains information about the items attributes of the products which the shipping charge definition is applicable</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeDomainID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>The unique identifier of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeDoubleValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOUBLE_VALUE" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>The double value of the item attribute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>The unique identifier of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>Unique identifier of the item attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeIntegerValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_INTEGER_VALUE" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>The integer value of the item attribute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Integer"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AttributeValue" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_VALUE" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>The TEXT value of the item attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GroupId" use="optional">
                <xsd:annotation yfc:columnName="GROUP_ID" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>Logical group id for the attribute values. All attributes with same group id are evaluated together.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Integer"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeAttrValueKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_ATTR_VAL_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeRuleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_RULE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_ATTR_VALUE">
                    <xsd:documentation>Primary key of the shipping charge rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeCategoryList">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
            <xsd:documentation>Maintains information about the items categories of the products which the shipping charge definition is applicable</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShippingChargeCategory"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingChargeCategory">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
            <xsd:documentation>Maintains information about the items categories of the products which the shipping charge definition is applicable</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CategoryID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_ID" yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
                    <xsd:documentation>Unique identifier for this category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryPath"
                type="yfctype:VARCHAR2-800" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
                    <xsd:documentation>The path for the category of the product on which shipping charge rule is triggered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IncludeOrExclude"
                type="yfctype:EnumIncludeOrExclude" use="optional">
                <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
                    <xsd:documentation>Indicates whether the item's category used to trigger or to filter out the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeCategoryKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_CATEGORY_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
                    <xsd:documentation>Primary key of table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingChargeRuleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPPING_CHARGE_RULE_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_CATEGORY">
                    <xsd:documentation>Primary key of the shipping charge rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
