Data/xapidocs/api_javadocs/XSD/YPM_manageCouponPolicy_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/manageCouponPolicy/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/manageCouponPolicy/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_manageCouponPolicy_output.xsd" yfc:rootElement="CouponCharacterSet">
        <xsd:appinfo source="yfc:structure">
            <CouponCharacterSet hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CouponCharacterSet" type="yfc:CouponCharacterSetXSDType">
        <xsd:annotation yfc:tableName="YPM_COUPON_POLICY">
            <xsd:documentation>table maintains coupon policy information for generated coupon codes</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CouponCharacterSetXSDType">
        <xsd:attribute name="CouponIdLength" type="yfctype:NUMBER-2" use="optional">
            <xsd:annotation yfc:columnName="COUPON_ID_LENGTH" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>The number of characters, starting at the beginning, of the coupon id to use in the coupon code string.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CouponIdStartingIndex"
            type="yfctype:NUMBER-2" use="optional">
            <xsd:annotation yfc:columnName="COUPON_ID_STARTING_INDEX" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>the starting index in the coupon code string for the coupon id. If the coupon id appears as a prefix in the coupon code then the starting index will be 0.  If the coupon Id should appear as a suffix then the starting index should be mentioned as -1</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CouponPolicyKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUPON_POLICY_KEY" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>Primary key of table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EndDateActive" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>date and time when the policy becomes inactive. no two policies can be active at the same time.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>Name of the character set definition</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>Organization to which the coupon policy belongs to</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PadChar" type="yfctype:CHAR-1" use="optional">
            <xsd:annotation yfc:columnName="PAD_CHAR" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>if the give coupon id is shorter than the coupon_id_length, the remaining spaces will be filled with this character.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDateActive" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>date and time when the policy becomes active. no two policies can be active at the same time.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:PricingStatus" use="optional">
            <xsd:annotation yfc:columnName="Status" yfc:tableName="YPM_COUPON_POLICY">
                <xsd:documentation>status of the coupon policy. valid values are ACTIVE and INACTIVE</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
