Data/xapidocs/api_javadocs/XSD/YPM_selectPricelistHeaderListUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/selectPricelistHeaderListUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/selectPricelistHeaderListUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_selectPricelistHeaderListUE_output.xsd" yfc:rootElement="PricelistHeaderList">
        <xsd:appinfo source="yfc:structure">
            <PricelistHeaderList>
                <PricelistHeader hasAttributes="Y"/>
            </PricelistHeaderList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricelistHeaderList" type="yfc:PricelistHeaderListXSDType"/>
    <xsd:complexType name="PricelistHeaderListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricelistHeader"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PricelistHeader">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_HDR">
            <xsd:documentation>This table stores the price list.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Primary key attribute of YPM_PRICELIST_HDR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistName"
                type="yfctype:PricelistName" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_NAME" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Name of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
