Data/xapidocs/api_javadocs/XSD/YPM_managePriceTypeAssociation_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/managePriceTypeAssociation/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/managePriceTypeAssociation/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_managePriceTypeAssociation_output.xsd" yfc:rootElement="PriceTypeAssociationList">
        <xsd:appinfo source="yfc:structure">
            <PriceTypeAssociationList>
                <PriceTypeAssociation hasAttributes="Y"/>
            </PriceTypeAssociationList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceTypeAssociationList" type="yfc:PriceTypeAssociationListXSDType"/>
    <xsd:complexType name="PriceTypeAssociationListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PriceTypeAssociation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PriceTypeAssociation">
        <xsd:annotation yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
            <xsd:documentation>Maintains a list of Pricing Type Associations for Items Categories</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CategoryID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_ID" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>Unique identifier for this Category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryPath"
                type="yfctype:VARCHAR2-800" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>The path for the Category of products for which this Price Type is applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>Unique identifier for this Item</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>Pricing Organization Code for the Price Type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_KEY" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>Primary key attribute of YPM_PRICE_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>The Unit of Measure for the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
