Data/xapidocs/api_javadocs/XSD/YSC_getBaseConfigTaskList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getBaseConfigTaskList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getBaseConfigTaskList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getBaseConfigTaskList_output.xsd" yfc:rootElement="BaseConfigTaskList">
        <xsd:appinfo source="yfc:structure">
            <BaseConfigTaskList hasAttributes="Y">
                <BaseConfigTask hasAttributes="Y"/>
            </BaseConfigTaskList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="BaseConfigTaskList" type="yfc:BaseConfigTaskListXSDType"/>
    <xsd:complexType name="BaseConfigTaskListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:BaseConfigTask"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="BaseConfigTask">
        <xsd:annotation yfc:tableName="YFS_BASE_CONFIG_TASK">
            <xsd:documentation>This table stores configuration information regarding tasks that are associated to PCAs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AdditionalAttributesXML"
                type="yfctype:AdditionalAttribute" use="optional">
                <xsd:annotation
                    yfc:columnName="ADDITIONAL_ATTRIBUTES_XML" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>Holds any addition attribute that needs to be passed to the input of the invoked task screen.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BaseConfigTaskKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BASE_CONFIG_TASK_KEY" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>Primary key attribute of YFS_BASE_CONFIG_TASK.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BaseProcessType"
                type="yfctype:ProcessType-40" use="optional">
                <xsd:annotation yfc:columnName="BASE_PROCESS_TYPE" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The base process type to which the task belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConfigTaskDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="CONFIG_TASK_DESCRIPTION" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The Description of the configuration task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConfigTaskID" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="CONFIG_TASK_ID" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The unique identifier for the Config Task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConfigTaskName" type="yfctype:TaskName" use="optional">
                <xsd:annotation yfc:columnName="CONFIG_TASK_NAME" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The name of the configuration task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConfigTaskSeqNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="CONFIG_TASK_SEQ_NO" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The sequence in which each task needs to be executed for each task group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayMode" type="yfctype:DisplayMode" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_MODE" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The display mode in which the screen should show up. Valid values are: Dialog, Docked, Full Screen.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentTypeRuleName"
                type="yfctype:RuleName" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE_RULE_NAME" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>Indicates the rule name from the rules table that will resolve the document type for the task</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntityName" type="yfctype:EntityName" use="optional">
                <xsd:annotation yfc:columnName="ENTITY_NAME" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The entity to which the task belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FormName" type="yfctype:Form-40" use="optional">
                <xsd:annotation yfc:columnName="FORM_NAME" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The form that the task must invoke.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GroupName" type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="GROUP_NAME" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The group to which the task belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Icon" type="yfctype:Icon" use="optional">
                <xsd:annotation yfc:columnName="ICON" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The icon for the task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActionTask" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTION_TASK" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>Indicates whether to bring it in as an action link or configuration task link.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAdvancedConfiguration"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ADVANCED_CONFIGURATION" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>Indicates whether the task is an advanced configuration or basic configuration.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsGroupingTask" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_GROUPING_TASK" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>Indicates whether the task is a grouping task or a leaf task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPermissionOnly" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PERMISSION_ONLY" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>Indicates whether the task is a to be used only for user permissions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PCAModuleCode"
                type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="PCA_MODULE_CODE" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The identifier for PCA module to which this task belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentConfigTaskID"
                type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="PARENT_CONFIG_TASK_ID" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The unique identifier for the Parent Config Task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PermissionId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="PERMISSION_ID" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The Permission Id of the Task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SectionName"
                type="yfctype:TaskSectionName" use="optional">
                <xsd:annotation yfc:columnName="SECTION_NAME" yfc:tableName="YFS_BASE_CONFIG_TASK">
                    <xsd:documentation>The section to which the task belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
