Data/xapidocs/api_javadocs/XSD/YSC_manageValidationDomain_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageValidationDomain/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageValidationDomain/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_manageValidationDomain_input.xsd" yfc:rootElement="ValidationDomain">
        <xsd:appinfo source="yfc:structure">
            <ValidationDomain hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ValidationDomain" type="yfc:ValidationDomainXSDType">
        <xsd:annotation yfc:tableName="YFS_VALIDATION_DOMAIN">
            <xsd:documentation>This table stores the configuration for a validation domain</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ValidationDomainXSDType">
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="required">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_VALIDATION_DOMAIN">
                <xsd:documentation>The document type for the validation domain</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Domain" type="yfctype:Text-100" use="required">
            <xsd:annotation yfc:columnName="DOMAIN" yfc:tableName="YFS_VALIDATION_DOMAIN">
                <xsd:documentation>The validation domain for this configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_VALIDATION_DOMAIN">
                <xsd:documentation>The enterprise for which the validation domain belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldType" type="yfctype:CodeType" use="optional">
            <xsd:annotation yfc:columnName="HOLD_TYPE" yfc:tableName="YFS_VALIDATION_DOMAIN">
                <xsd:documentation>The hold type of the hold that will be applied on the order when a violation of the validation within the validation domain occur.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsEnabled" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ENABLED" yfc:tableName="YFS_VALIDATION_DOMAIN">
                <xsd:documentation>The flag indicates whether or not the validation domain is enable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:YSCOperation" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The operation to perform on this record. Valid values are listed below.
				        <br/>Valid Values:<br/>
                        <code>Manage</code> - Create if the data is not found, otherwise modify. This is default<br/>
                        <code>Create</code> - Create a new Validation Domain.<br/>
                        <code>Modify</code> - Modify an existing Validation Domain.<br/>
                        <code>Delete</code> - Delete an existing record.
                       <Validation>
                            <Condition>Validation Domain being created or updated must have valid EnterpriseCode, DocumentType, Domain.
							</Condition>
                            <Error
                                Description="Validation Domain cannot be created or updated." ErrorCode="OMP92_0007"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidationDomainKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="VALIDATION_DOMAIN_KEY" yfc:tableName="YFS_VALIDATION_DOMAIN">
                <xsd:documentation>The primary key of the YFS_VALIDATION_DOMAIN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
