Data/xapidocs/api_javadocs/XSD/YSC_getTransformationConfigList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getTransformationConfigList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getTransformationConfigList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YSC_getTransformationConfigList_input.xsd" yfc:rootElement="TransformationConfig">
        <xsd:appinfo source="yfc:structure">
            <TransformationConfig hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TransformationConfig" type="yfc:TransformationConfigXSDType">
        <xsd:annotation yfc:tableName="YFS_TRANSFORMATION_CONFIG">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
                            <code>CallingOrganizationCode</code> or <code>OrganizationCode</code> must be passed.
						</Condition>
                        <Error
                            Description="OrganizationCode Or CallingOrganizationCode Is Mandatory For This Operation." ErrorCode="YSC91A_006"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TransformationConfigXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
                    <div>
					If <code>CallingOrganizationCode</code> is passed, the TransformationConfig list for the organization that has configured transformation data for this <code>CallingOrganizationCode</code> is returned.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:AttributeName" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>Indicate the Description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:ListenerStatus" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>Indicates The Document Type Eg:0015 for Quote.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>
                    <div>
					The organization that has defined the TransformationConfig.
					If <code>CallingOrganizationCode</code> is not passed in the input, then this <code>OrganizationCode</code> passed in the input is used to fetch the list.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TemplateCode" type="yfctype:VarcharID-24" use="optional">
            <xsd:annotation yfc:columnName="TEMPLATE_CODE" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>The Template Code to specify the type of print e.g : proposal.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TemplateXml" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="TEMPLATE_XML" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>This indicates the XML template for the Corresponding Document Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransformationConfigKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TRANSFORMATION_CONFIG_KEY" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>Primary key of the Transformation Config.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
