Data/xapidocs/api_javadocs/XSD/YSC_CHANGE_DATA_IMPORT.ON_COMPLETE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/CHANGE_DATA_IMPORT/ON_COMPLETE"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/CHANGE_DATA_IMPORT/ON_COMPLETE" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YSC_CHANGE_DATA_IMPORT.ON_COMPLETE.xsd" yfc:rootElement="DataSyncInfo">
        <xsd:appinfo source="yfc:structure">
            <DataSyncInfo hasAttributes="Y">
                <FileProcessed hasAttributes="Y"/>
            </DataSyncInfo>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DataSyncInfo" type="yfc:DataSyncInfoXSDType"/>
    <xsd:complexType name="DataSyncInfoXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FileProcessed"/>
        </xsd:all>
        <xsd:attribute name="ColonyId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="DateOfExecution" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Status" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="FileProcessed">
        <xsd:complexType>
            <xsd:attribute name="Name" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Organization_Code"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="Status" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
