Data/xapidocs/api_javadocs/XSD/YSC_manageTransformationConfig_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageTransformationConfig/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageTransformationConfig/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YSC_manageTransformationConfig_output.xsd" yfc:rootElement="TransformationConfig">
        <xsd:appinfo source="yfc:structure">
            <TransformationConfig hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TransformationConfig" type="yfc:TransformationConfigXSDType">
        <xsd:annotation yfc:tableName="YFS_TRANSFORMATION_CONFIG">
            <xsd:documentation>This table contains the Configuration Data for Transformation Template.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TransformationConfigXSDType">
        <xsd:attribute name="Description" type="yfctype:AttributeName" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>Indicate the Description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:ListenerStatus" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>Indicates The Document Type Eg:0015 for Quote.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>This represents the Organization that manages this entity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TemplateCode" type="yfctype:VarcharID-24" use="optional">
            <xsd:annotation yfc:columnName="TEMPLATE_CODE" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>The Template Code to specify the type of print e.g : proposal.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TemplateXml" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="TEMPLATE_XML" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>This indicates the XML template for the Corresponding Document Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransformationConfigKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TRANSFORMATION_CONFIG_KEY" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>Primary key of the Transformation Config.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
