Data/xapidocs/api_javadocs/XSD/YSC_manageChangeRequestUser_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageChangeRequestUser/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageChangeRequestUser/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YSC_manageChangeRequestUser_output.xsd" yfc:rootElement="ChangeRequestUser">
        <xsd:appinfo source="yfc:structure">
            <ChangeRequestUser hasAttributes="Y">
                <ChangeRequest hasAttributes="Y"/>
            </ChangeRequestUser>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeRequestUser" type="yfc:ChangeRequestUserXSDType">
        <xsd:annotation yfc:tableName="YFS_CHANGE_REQUEST_USER">
            <xsd:documentation>This table stores information about users working on a change request.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeRequestUserXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChangeRequest"/>
        </xsd:all>
        <xsd:attribute name="ChangeRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_REQUEST_KEY" yfc:tableName="YFS_CHANGE_REQUEST_USER">
                <xsd:documentation>The reference key to the YFS_CHANGE_REQUEST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChangeRequestUserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_REQUEST_USER_KEY" yfc:tableName="YFS_CHANGE_REQUEST_USER">
                <xsd:documentation>Primary key attribute of YFS_CHANGE_USER_ASSIGNMENT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserID" type="yfctype:LoginId-50" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_CHANGE_REQUEST_USER">
                <xsd:documentation>The identifier for the user who worked on the change request. This is taken from the Environment if not passed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ChangeRequest">
        <xsd:annotation yfc:tableName="YFS_CHANGE_REQUEST">
            <xsd:documentation>This table stores Change Request definitions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChangeProjectKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_PROJECT_KEY" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The reference key to the YFS_CHANGE_PROJECT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangeRequestID"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_REQUEST_ID" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The identifier for this change request. If it is not passed during creation,                      it is generated. It cannot be set to DEFAULT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangeRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_REQUEST_KEY" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>Primary key attribute of YFS_CHANGE_REQUEST.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The long description of the Change Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManageUserID" type="yfctype:LoginId-50" use="optional">
                <xsd:annotation yfc:columnName="MANAGE_USER_ID" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>Identifier for the user who caused a change in the Change Project. This is always taken from the Environment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The short description of the Change Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:ChangeRequestStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The status of the Change Request. As the request progresses through the change process, the status changes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
