Data/xapidocs/api_javadocs/XSD/YSC_getExternalDataAccessPolicyOnReadUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getExternalDataAccessPolicyOnReadUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getExternalDataAccessPolicyOnReadUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YSC_getExternalDataAccessPolicyOnReadUE_output.xsd" yfc:rootElement="AccessPolicy">
        <xsd:appinfo source="yfc:structure">
            <AccessPolicy>
                <Entities>
                    <Entity hasAttributes="Y">
                        <ComplexQuery/>
                    </Entity>
                </Entities>
            </AccessPolicy>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AccessPolicy" type="yfc:AccessPolicyXSDType"/>
    <xsd:complexType name="AccessPolicyXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Entities"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Entities">
        <xsd:annotation>
            <xsd:documentation>
                <div>Contains a list of entities for determining whether data filter needs to be applied for read request.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Entity"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Entity">
        <xsd:annotation>
            <xsd:documentation>
                <div>The entity in which the user required access from.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ComplexQuery"/>
            </xsd:all>
            <xsd:attribute name="TableName" type="yfctype:TableName" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The database table name or entity in which the given user is requesting access to.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ComplexQuery">
        <xsd:annotation>
            <xsd:documentation>
                <div>The <code>ComplexQuery</code> element contains the complex query constructed by the user exit that will be 
			  applied to the data filter for this entity.<br/>Refer to the <code>YCPGetExternalDataAccessPolicyOnReadUE</code> javadoc
			  for examples on how to create complex query for data filter.<br/>Additional information on complex query is also available 
			  in the <em>API Customization Guide: Defining Complex Queries</em>.
			  </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
