Data/xapidocs/api_javadocs/XSD/YSC_shouldAccessPolicyBeAppliedOnUpdateUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/shouldAccessPolicyBeAppliedOnUpdateUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/shouldAccessPolicyBeAppliedOnUpdateUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YSC_shouldAccessPolicyBeAppliedOnUpdateUE_input.xsd" yfc:rootElement="AccessPolicy">
        <xsd:appinfo source="yfc:structure">
            <AccessPolicy hasAttributes="Y">
                <Entities>
                    <Entity hasAttributes="Y"/>
                </Entities>
            </AccessPolicy>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AccessPolicy" type="yfc:AccessPolicyXSDType"/>
    <xsd:complexType name="AccessPolicyXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Entities"/>
        </xsd:all>
        <xsd:attribute name="APIName" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ClaimAsUserID" type="yfctype:UserId" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The user id that was stored in the system cache such as browser cookies. If present, the <code>UserID</code> is ignored.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserID" type="yfctype:UserId" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The current user login id from the environment. This could be a guest user, anonymous user or a valid user.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Entities">
        <xsd:annotation>
            <xsd:documentation>
                <div>Contains a list of entities for determining whether data filter needs to be applied for read request.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Entity"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Entity">
        <xsd:annotation>
            <xsd:documentation>
                <div>The entity in which the user required access from.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="APIName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The <code>APIName</code> specifies the API for the current call to the user exit.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableName" type="yfctype:TableName" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The database table name or entity in which the given user is requesting access to.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
