Data/xapidocs/api_javadocs/XSD/YSC_checkOverriddenRules_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/checkOverriddenRules/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/checkOverriddenRules/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_checkOverriddenRules_output.xsd" yfc:rootElement="Validation">
        <xsd:appinfo source="yfc:structure">
            <Validation hasAttributes="Y">
                <TransactionViolationList hasAttributes="Y">
                    <TransactionViolation hasAttributes="Y">
                        <TransactionInfo hasAttributes="Y"/>
                        <TransactionApproverList hasAttributes="Y">
                            <TransactionApprover hasAttributes="Y"/>
                        </TransactionApproverList>
                        <TransactionApprovalStatusList hasAttributes="Y">
                            <TransactionApprovalStatus hasAttributes="Y"/>
                        </TransactionApprovalStatusList>
                        <TransactionViolationReferenceList hasAttributes="Y">
                            <TransactionViolationReference hasAttributes="Y"/>
                        </TransactionViolationReferenceList>
                    </TransactionViolation>
                </TransactionViolationList>
            </Validation>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Validation" type="yfc:ValidationXSDType">
        <xsd:annotation yfc:tableName="YFS_VALIDATION">
            <xsd:documentation>This table stores the configuration for a validation</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ValidationXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionViolationList"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
        </xsd:sequence>
        <xsd:attribute name="CanApprovalBePostponed" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="APPROVAL_POSTPONABLE" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>
                    <div>
 						This flag indicates if the transaction violation can be approved at a later point of time. If it is marked as 'N', then a violation has to be approved before operator can proceed with the transaction. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigurationGroup" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CONFIGURATION_GROUP" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>The configuration group that identify the level for which the validation can be configured.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>The description of the validation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Domain" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DOMAIN" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>The validation domain for this configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorCode" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="ERROR_CODE" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>This specifies the error code that needs to thrown in case validation fails.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsSystemDefined" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_SYSTEM_DEFINED" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>This flag indicates that the validation is provided as part of the factory setup and should not be modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>The organization for which the validation belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionInfoID"
            type="yfctype:VARCHAR2-10" use="optional">
            <xsd:annotation yfc:columnName="TRANSACTION_INFO_ID" yfc:tableName="YFS_TRANSACTION_INFO">
                <xsd:documentation>Unique ID of Transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidationID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="VALIDATION_ID" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>The unique identifier for the VALIDATION.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="VALIDATION_KEY" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>The primary key of the YFS_VALIDATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ViolationEntity" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="VIOLATION_ENTITY" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>This specifies the violation entity for storing the violations and approver information.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="TransactionViolationList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionViolation"/>
            </xsd:all>
            <xsd:attribute name="AllowTransaction" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						This field is used to display the result of the validation operation. If no Disallow rules are returned, then this field will be set to 'Y'.
						If a Disallow is found, then this field will be set to 'N'.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfRulesEvaluated"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						This field is used to display the total number of rules evaluated during the API's runtime.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfViolations"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						This field is used to display the total number of violations found.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionViolation">
        <xsd:annotation yfc:tableName="YFS_TRANSACTION_VIOLATION">
            <xsd:documentation>
                <div>
       						Violations of configured Overridden Rules will be output in instances of this element. The Violation's Status, Type, and Approvers (if applicable) will be displayed here.
       						In the event a violation being resolved, it shall be output with an <code>Operation</code> value of <code>Modify</code> and <code>Status</code> of <code>9000</code>, otherwise a new or existing violation will have a
       						value of <code>Create</code>. Also, the nature of the violations returned may be altered by the Validation's IsApprovalRequiredOnReoccurrence flag. Please see main page for details.
       					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionApproverList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionApprovalStatusList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionViolationReferenceList"/>
            </xsd:all>
            <xsd:attribute name="ApprovalRuleID"
                type="yfctype:VARCHAR2-40" use="optional">
                <xsd:annotation yfc:columnName="APPROVAL_RULE_ID" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>ID of Approval Rule that caused violation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsApprovalRequired" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Flag to indicate if Approval is required for the given Violation.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Message"
                type="yfctype:OrderApprovalRuleMessage" use="optional">
                <xsd:annotation yfc:columnName="MESSAGE" yfc:tableName="YFS_ORDER_APPROVAL_RULE">
                    <xsd:documentation>Message to be displayed when approval rule is violated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MessageCode"
                type="yfctype:VARCHAR2-100" use="optional">
                <xsd:annotation yfc:columnName="MESSAGE_CODE" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>Message code to be displayed when approval rule is violated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Field to indicate the resolution status of a Violation. If the value is <code>Modify</code> and the Violation's <code>Status</code> is 9000, the Violation has been resolved. 
								If the value is <code>Create</code>, then the Violation is new or existing, and is still valid.
							</div>
							Valid Values:
							<br/>
                        <b>
                            <code>Create</code>
                        </b>
							- Indicates that the Violation is new or is pre-existing, and is still valid.
							<br/>
                        <b>
                            <code>Modify</code>
                        </b>
							- Indicates that the Violation has been resolved, by a change in the condition that originally caused it.
							<br/>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:CHAR-24" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>Organization Code of org that owns the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RefreshReferences" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Flag to indicate if any Informational References on the violation need to be refreshed.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNumber" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NUMBER" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>Number to identify the violation sequence within a transaction.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NUMBER-4"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Status" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>The status of the violation.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:ViolationStatus"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TransactionInfoID"
                type="yfctype:VARCHAR2-10" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_INFO_ID" yfc:tableName="YFS_TRANSACTION_INFO">
                    <xsd:documentation>Unique ID of Transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionViolationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="TRANSACTION_VIOLATION_KEY" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>Primary Key attribute of YFS_TRANSACTION_VIOLATION.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionInfo">
        <xsd:annotation yfc:tableName="YFS_TRANSACTION_INFO">
            <xsd:documentation>
                <div>
								This element contains arguments that were used in finding existing Violations and Approvals. They will vary based on input.
							</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_TRANSACTION_INFO">
                    <xsd:documentation>Primary key for YFS_ORDER_HEADER</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionApproverList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TransactionApprover"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
 									The total number of Approver records returned.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionApprover">
        <xsd:annotation yfc:tableName="YFS_TRANSACTION_APPROVER">
            <xsd:documentation>Table for storing approver information for the violation.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApproverGroupKey"
                type="yfctype:CHAR-24" use="optional">
                <xsd:annotation yfc:columnName="APPROVER_GROUP_KEY" yfc:tableName="YFS_TRANSACTION_APPROVER">
                    <xsd:documentation>The reference to the Approval Group configuration.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApproverUserGroupID"
                type="yfctype:CHAR-25" use="optional">
                <xsd:annotation yfc:columnName="APPROVER_USER_GROUP_ID" yfc:tableName="YFS_TRANSACTION_APPROVER">
                    <xsd:documentation>The User Group that can approve the violation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApproverUserTeam"
                type="yfctype:VARCHAR2-40" use="optional">
                <xsd:annotation yfc:columnName="APPROVER_USER_TEAM" yfc:tableName="YFS_TRANSACTION_APPROVER">
                    <xsd:documentation>The Team that can approve the violation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DelegateUserID"
                type="yfctype:VARCHAR2-50" use="optional">
                <xsd:annotation yfc:columnName="DELEGATE_USER_ID" yfc:tableName="YFS_TRANSACTION_APPROVER">
                    <xsd:documentation>The UserID of the delegate that has been assigned to approve the violation on behalf on the main UserID.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserID" type="yfctype:VARCHAR2-50" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_TRANSACTION_APPROVER">
                    <xsd:documentation>The UserID of the user that can approve the violation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionApprovalStatusList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionApprovalStatus"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
 								The total number of Approval Status records returned.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionApprovalStatus">
        <xsd:annotation yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
            <xsd:documentation>Table for storing approver information for the violation.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApproverComments"
                type="yfctype:VARCHAR2-2000" use="optional">
                <xsd:annotation yfc:columnName="APPROVER_COMMENTS" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>Place Holder to capture comments entered by the approver.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApproverSequence" use="optional">
                <xsd:annotation yfc:columnName="APPROVER_SEQUENCE" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>The sequence of the approver.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NUMBER-10"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ApproverUserID"
                type="yfctype:VARCHAR2-50" use="optional">
                <xsd:annotation yfc:columnName="APPROVER_USER_ID" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>The UserID of the user who has approved or rejected the violation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsMandatory" type="yfctype:CHAR-1" use="optional">
                <xsd:annotation yfc:columnName="IS_MANDATORY" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>Indicator to determine if approval is mandatory based on the signature policy of the validation definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreviousApproverSequence"
                type="yfctype:ApprovalPlanPredecessorSeq" use="optional">
                <xsd:annotation yfc:columnName="PREVIOUS_APPROVER_SEQ" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>The sequence of the previous approver.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>The status of the approval.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:ViolationStatus"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionViolationReferenceList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TransactionViolationReference"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
 									The total number of Transaction Violation Reference records returned.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionViolationReference">
        <xsd:annotation yfc:tableName="YFS_TRANS_VIOLATION_REFERENCE">
            <xsd:documentation>Table for storing additional reference information for identifying violations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Operation" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									Field to indicate the status of a Reference. If the value is <code>Create</code>, the Refrence is new and needs to be recorded.
									If the value is <code>Modify</code>, the Reference has changed from an existing state on a violation, and needs to be refreshed.
									If the value is <code>Delete</code>, the Reference has been been removed from the violation, and should be deleted.
								</div>
								Valid Values:
								<br/>
                        <b>
                            <code>Create</code>
                        </b>
								- Indicates that the Reference is new, and should be recorded with the violation.
								<br/>
                        <b>
                            <code>Modify</code>
                        </b>
								- Indicates that the Reference is existing, but has changed, and should be updated.
								<br/>
                        <b>
                            <code>Delete</code>
                        </b>
								- Indicates that the Referecne is existing, but is no longer present on the violation, and should be removed.
								<br/>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceName"
                type="yfctype:VARCHAR2-40" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_NAME" yfc:tableName="YFS_TRANS_VIOLATION_REFERENCE">
                    <xsd:documentation>The identifier for the additional reference value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceValue"
                type="yfctype:VARCHAR2-40" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_VALUE" yfc:tableName="YFS_TRANS_VIOLATION_REFERENCE">
                    <xsd:documentation>Value of the additional reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionViolationReferenceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="TRANS_VIOLATION_REFERENCE_KEY" yfc:tableName="YFS_TRANS_VIOLATION_REFERENCE">
                    <xsd:documentation>Primary Key attribute of YFS_TRANSACTION_VIOLATION_REFERENCE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
