Data/xapidocs/api_javadocs/XSD/YSC_getSyncDBExportList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getSyncDBExportList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getSyncDBExportList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getSyncDBExportList_output.xsd" yfc:rootElement="SyncDBExportList">
        <xsd:appinfo source="yfc:structure">
            <SyncDBExportList hasAttributes="Y">
                <SyncDBExport hasAttributes="Y"/>
            </SyncDBExportList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SyncDBExportList" type="yfc:SyncDBExportListXSDType"/>
    <xsd:complexType name="SyncDBExportListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:SyncDBExport"/>
        </xsd:all>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SyncDBExport">
        <xsd:annotation yfc:tableName="YFS_SYNC_DB_EXPORT">
            <xsd:documentation>This table holds information about database export synchronization times and types (FULL or DELTA).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DBExportTime" use="optional">
                <xsd:annotation yfc:columnName="DB_EXPORT_TIME" yfc:tableName="YFS_SYNC_DB_EXPORT">
                    <xsd:documentation>The time that the export took place</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:HourMinuteTimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SYNC_DB_EXPORT">
                    <xsd:documentation>The organization that performed the export.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Counter" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_SYNC_DB_EXPORT">
                    <xsd:documentation>Sequence number assigned to exported sync file.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SyncDBExportKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SYNC_DB_EXPORT_KEY" yfc:tableName="YFS_SYNC_DB_EXPORT">
                    <xsd:documentation>The primary key of the YFS_SYNC_DB_EXPORT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SyncProfileID"
                type="yfctype:SyncTableID-40" use="optional">
                <xsd:annotation yfc:columnName="SYNC_PROFILE_ID" yfc:tableName="YFS_SYNC_DB_EXPORT">
                    <xsd:documentation>The ID of the SyncProfile that was exported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SyncType" type="yfctype:ID-15" use="optional">
                <xsd:annotation yfc:columnName="SYNC_TYPE" yfc:tableName="YFS_SYNC_DB_EXPORT">
                    <xsd:documentation>The type of synchronization (FULL or DELTA).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableGroup"
                type="yfctype:SyncTableID-40" use="optional">
                <xsd:annotation yfc:columnName="TABLEGROUP" yfc:tableName="YFS_SYNC_DB_EXPORT">
                    <xsd:documentation>The TableGroup associated with the profile exported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
