Data/xapidocs/api_javadocs/XSD/YSC_manageValidationRule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageValidationRule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageValidationRule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_manageValidationRule_input.xsd" yfc:rootElement="ValidationRule">
        <xsd:appinfo source="yfc:structure">
            <ValidationRule hasAttributes="Y">
                <GreexRule/>
                <DataForPreDefinedRule>
                    <DataCapture/>
                </DataForPreDefinedRule>
            </ValidationRule>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ValidationRule" type="yfc:ValidationRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_VALIDATION_RULE">
            <xsd:documentation>
                <div>
				Specify the Validation Rule information to be modified.  <code>ValidationRuleKey</code> or a combination of <code>OrganizationCode</code> and <code>DocumentType</code> and <code>ValidationRuleID</code>.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ValidationRuleXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:GreexRule"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DataForPreDefinedRule"/>
        </xsd:all>
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>. 
						<Validation>
                            <Condition>Validation Rule being created and updated must have valid OrganizationCode, DocumentType, Validation,
							RuleID.  
							</Condition>
                            <Error
                                Description="Validation Rule cannot be created or updated." ErrorCode="OMP92_0010"/>
                        </Validation>
                        <Validation>
                            <Condition>Validation Rule being created or updated has a GreexRule with invalid ReturnType. 
							</Condition>
                            <Error
                                Description="Validation Rule cannot be created or updated." ErrorCode="OMP90_0008"/>
                        </Validation>
                        <Validation>
                            <Condition>Validation Rule being created or updated has a GreexRule with invalid return attributes. 
							</Condition>
                            <Error
                                Description="Validation Rule cannot be created or updated." ErrorCode="OMP90_0009"/>
                        </Validation>
                        <Validation>
                            <Condition>Validation Rule being created or updated has effective end date that comes before
							effective start date.  
							</Condition>
                            <Error
                                Description="Validation Rule cannot be created or updated." ErrorCode="OMP90_0020"/>
                        </Validation>
                        <Validation>
                            <Condition>GreexRule attribute contains an unexpected advanced XML rule.  
							</Condition>
                            <Error
                                Description="GreexRule attribute contains an unexpected advanced XML rule." ErrorCode="OMP90_0024"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="Channel" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="CHANNEL" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>The channel for which this rule applies.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="required">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Document type to which this validation rule belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveEndDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_END_DATE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Defines the time before which the rule is effective.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveStartDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_START_DATE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Defines the time after which the rule is effective.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IsActive" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ACTIVE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Indicates when the validation rule is active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LaneType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="LANE_TYPE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>The Lane type for which this rule applies.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MessageCode" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="MESSAGE_CODE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Message code to be displayed when validation rule is violated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>The organization that is associated with this validation rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>The region for which this rule applies.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StoreType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="STORE_TYPE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>The store type for which this rule applies.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidationKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="VALIDATION_KEY" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Reference key to the YFS_VALIDATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidationRuleID" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="VALIDATION_RULE_ID" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Validation rule identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="GreexRule">
        <xsd:annotation>
            <xsd:documentation>
                <div>
	               			The Greex format advanced XML condition associated with this Validation Rule."
                    </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataForPreDefinedRule">
        <xsd:annotation>
            <xsd:documentation>
                <div>
	               		 The data for the validation with pre-defined rule.
	               		 </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DataCapture"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataCapture">
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
