Data/xapidocs/api_javadocs/XSD/YSC_manageTransformationData_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageTransformationData/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageTransformationData/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YSC_manageTransformationData_input.xsd" yfc:rootElement="TransformationHeader">
        <xsd:appinfo source="yfc:structure">
            <TransformationHeader hasAttributes="Y">
                <TransformationHeaderLocaleList>
                    <TransformationHeaderLocale hasAttributes="Y"/>
                </TransformationHeaderLocaleList>
            </TransformationHeader>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TransformationHeader" type="yfc:TransformationHeaderXSDType">
        <xsd:annotation yfc:tableName="YFS_TRANSFORMATION_HEADER">
            <xsd:documentation>This table contains the Transformation Data for different Organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TransformationHeaderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransformationHeaderLocaleList"/>
        </xsd:all>
        <xsd:attribute name="Description" type="yfctype:AttributeName" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                <xsd:documentation>
                    <div>This attribute corresponds to description for Template. 
										</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Document Type of the corresponding Document . Eg <code>0015</code> for <code>"Quote"</code>
                        <Validation>
                            <Condition>Must be valid Document Type in the table <code>YFS_Document_Params</code>.
								</Condition>
                            <Error Description="Invalid Document Type." ErrorCode="YFS10367"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>This attribute corresponds to the type of Operations supported on manage API.
				Supported operations are : <code>Manage, Create, Delete</code>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                <xsd:documentation>
                    <div> Organization Code for an organization.
							<Validation>
                            <Condition>Must be valid Organization Code in the table <code>YFS_Organization</code>.
										</Condition>
                            <Error
                                Description="Invalid Organization Code." ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Template" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="TEMPLATE" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                <xsd:documentation>
                    <div>XSL Template for print format..
										</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TemplateCode" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Template Code for the Document Type.It represents the type for which template will be used.  E.g:<code>Print Proposal</code> for printing the Proposal.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TemplateName" type="yfctype:AttributeName" use="optional">
            <xsd:annotation yfc:columnName="TEMPLATE_NAME" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                <xsd:documentation>
                    <div>This attribute corresponds to name of different templates for the corresponding Template Code. Eg <code>"Template for Government" </code>for <code>"Print Proposal"</code>. 
										</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransformationHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TRANSFORMATION_HEADER_KEY" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                <xsd:documentation>Primary key of the Transformation Header.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="TransformationHeaderLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransformationHeaderLocale"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransformationHeaderLocale">
        <xsd:annotation yfc:tableName="YFS_TRANS_HEADER_LOCALE">
            <xsd:documentation>This table contains the Locale of Transformation Header.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_TRANS_HEADER_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_TRANS_HEADER_LOCALE">
                    <xsd:documentation>
                        <div>This attribute corresponds to locale specific description for Template. 
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_TRANS_HEADER_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocaleCode" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>This attribute corresponds to Locale code like <code>en_US_EST</code>.
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Template" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="TEMPLATE" yfc:tableName="YFS_TRANS_HEADER_LOCALE">
                    <xsd:documentation>
                        <div>This attribute corresponds to  locale specific XSL Template for the correponding template name.
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TemplateName"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="TEMPLATE_NAME" yfc:tableName="YFS_TRANS_HEADER_LOCALE">
                    <xsd:documentation>
                        <div>This attribute corresponds to locale specific Template name. Eg <code>"Template for Government" </code>for <code>"Print Proposal" for en_US_EST locale</code>. 
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_TRANS_HEADER_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
