Data/xapidocs/api_javadocs/XSD/YSC_getUploadJobList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getUploadJobList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getUploadJobList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getUploadJobList_input.xsd" yfc:rootElement="UploadJob">
        <xsd:appinfo source="yfc:structure">
            <UploadJob hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UploadJob" type="yfc:UploadJobXSDType">
        <xsd:annotation yfc:tableName="YFS_UPLOAD_JOB">
            <xsd:documentation>This table contains the Upload Jobs submitted by User.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UploadJobXSDType">
        <xsd:attribute name="ErrorCount" type="yfctype:BarCodeInteger" use="optional">
            <xsd:annotation yfc:columnName="ERROR_COUNT" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Indicates the number of invalid records</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorReason" type="yfctype:ErrorReason" use="optional">
            <xsd:annotation yfc:columnName="ERROR_REASON" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Indicates the Error Reason if the Upload Fails</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="JobKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="JOB_KEY" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Primary key of the Upload Job.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="JobStatus" use="optional">
            <xsd:annotation yfc:columnName="JOB_STATUS" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Indicates the status of the Job</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:BarCodeInteger"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="JobType" type="yfctype:ActionCode" use="optional">
            <xsd:annotation yfc:columnName="JOB_TYPE" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Indicates the Entity type being uploaded. This should be the CodeName of the CommonCode record for which upload service is being called.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>The Organization Code for which Upload Job is being created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SuccessCount" type="yfctype:BarCodeInteger" use="optional">
            <xsd:annotation yfc:columnName="SUCCESS_COUNT" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Indicates the number of records successfully uploaded into the system</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalCount" type="yfctype:BarCodeInteger" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_COUNT" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Indicates the total number of records being uploaded.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
