Data/xapidocs/api_javadocs/XSD/YSC_manageUploadJob_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageUploadJob/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageUploadJob/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_manageUploadJob_output.xsd" yfc:rootElement="UploadJob">
        <xsd:appinfo source="yfc:structure">
            <UploadJob hasAttributes="Y">
                <FileAttachment hasAttributes="Y"/>
            </UploadJob>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UploadJob" type="yfc:UploadJobXSDType">
        <xsd:annotation yfc:tableName="YFS_UPLOAD_JOB">
            <xsd:documentation>This table contains the Upload Jobs submitted by User.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UploadJobXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FileAttachment"/>
        </xsd:all>
        <xsd:attribute name="ErrorCount" type="yfctype:BarCodeInteger" use="optional">
            <xsd:annotation yfc:columnName="ERROR_COUNT" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Indicates the number of invalid records</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorReason" type="yfctype:ErrorReason" use="optional">
            <xsd:annotation yfc:columnName="ERROR_REASON" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Indicates the Error Reason if the Upload Fails</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="JobKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="JOB_KEY" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Primary key of the Upload Job.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="JobStatus" use="optional">
            <xsd:annotation yfc:columnName="JOB_STATUS" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Indicates the status of the Job</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:BarCodeInteger"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="JobType" type="yfctype:ActionCode" use="optional">
            <xsd:annotation yfc:columnName="JOB_TYPE" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Indicates the Entity type being uploaded. This should be the CodeName of the CommonCode record for which upload service is being called.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>The Organization Code for which Upload Job is being created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SuccessCount" type="yfctype:BarCodeInteger" use="optional">
            <xsd:annotation yfc:columnName="SUCCESS_COUNT" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Indicates the number of records successfully uploaded into the system</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalCount" type="yfctype:BarCodeInteger" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_COUNT" yfc:tableName="YFS_UPLOAD_JOB">
                <xsd:documentation>Indicates the total number of records being uploaded.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="FileAttachment">
        <xsd:annotation yfc:tableName="PLT_FILE_ATTACHMENT">
            <xsd:documentation>This table stores information about uploaded files, documents.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FileAttachmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FILE_ATTACHMENT_KEY" yfc:tableName="PLT_FILE_ATTACHMENT">
                    <xsd:documentation>The primary key of the PLT_FILE_ATTACHMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FileContentType"
                type="yfctype:FileContentType" use="optional">
                <xsd:annotation yfc:columnName="FILE_CONTENT_TYPE" yfc:tableName="PLT_FILE_ATTACHMENT">
                    <xsd:documentation>The file content type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FileDescription"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="FILE_DESCRIPTION" yfc:tableName="PLT_FILE_ATTACHMENT">
                    <xsd:documentation>The file description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FileLocation"
                type="yfctype:FileLocation" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The location of the file on server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FileName" type="yfctype:FileName" use="optional">
                <xsd:annotation yfc:columnName="FILE_NAME" yfc:tableName="PLT_FILE_ATTACHMENT">
                    <xsd:documentation>The file name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FileSize" use="optional">
                <xsd:annotation yfc:columnName="FILE_SIZE" yfc:tableName="PLT_FILE_ATTACHMENT">
                    <xsd:documentation>Size of the file in number of bytes.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:FileSize"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TableKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TABLE_KEY" yfc:tableName="PLT_FILE_ATTACHMENT">
                    <xsd:documentation>The primary key value that identifies the specific record in the table specified in TABLE_NAME.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableName" type="yfctype:TableName" use="optional">
                <xsd:annotation yfc:columnName="TABLE_NAME" yfc:tableName="PLT_FILE_ATTACHMENT">
                    <xsd:documentation>Table name to which file is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
