Data/xapidocs/api_javadocs/XSD/YSC_manageSyncTarget_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageSyncTarget/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageSyncTarget/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_manageSyncTarget_input.xsd" yfc:rootElement="SyncTarget">
        <xsd:appinfo source="yfc:structure">
            <SyncTarget hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SyncTarget" type="yfc:SyncTargetXSDType">
        <xsd:annotation yfc:tableName="YFS_SYNC_TARGET">
            <xsd:documentation>This table holds information about SyncTargets.  One of SyncTargetKey or both SyncTargetID and OrganizationCode must be passed to uniquely identify this SyncTarget.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SyncTargetXSDType">
        <xsd:attribute name="LongDescription"
            type="yfctype:FreeDescription-1500" use="optional">
            <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_SYNC_TARGET">
                <xsd:documentation>The long description of the target.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Operation" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Operation to take
						<br/>
						Valid Values:
						<br/>
                        <b>
                            <code>Manage</code>
                        </b>
						- Creates a new record if it does not exist or modifies an
						existing record if it does.
						<br/>
                        <b>
                            <code>Create</code>
                        </b>
						- Creates a new record.
						<br/>
                        <b>
                            <code>Modify</code>
                        </b>
						- Changes the value of an existing record.
						<br/>
                        <b>
                            <code>Delete</code>
                        </b>
						- Deletes an existing record.
						<br/>
						The default behavior is
						<b>
                            <code>Manage</code>
                        </b>
						.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SYNC_TARGET">
                <xsd:documentation>The primary Enterprise that owns this SyncTarget.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription"
            type="yfctype:FreeDescription-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_SYNC_TARGET">
                <xsd:documentation>The short description of the target.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncSubscriptionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SYNC_SUBSCRIPTION_KEY" yfc:tableName="YFS_SYNC_TARGET">
                <xsd:documentation>The SyncSubscription to which this SyncTarget belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncTargetID" type="yfctype:SyncTableID-40" use="optional">
            <xsd:annotation yfc:columnName="SYNC_TARGET_ID" yfc:tableName="YFS_SYNC_TARGET">
                <xsd:documentation>The ID for this Target.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncTargetKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SYNC_TARGET_KEY" yfc:tableName="YFS_SYNC_TARGET">
                <xsd:documentation>The primary key of the YFS_SYNC_TARGET table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TargetingOrg" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>The Organization that is assigned to this SyncTarget</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
