Data/xapidocs/api_javadocs/XSD/YSC_getCustomerGradeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getCustomerGradeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getCustomerGradeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getCustomerGradeList_input.xsd" yfc:rootElement="CustomerGrade">
        <xsd:appinfo source="yfc:structure">
            <CustomerGrade hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerGrade" type="yfc:CustomerGradeXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_GRADE">
            <xsd:documentation>This table contains customer grade assignments for a range of customer rating.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerGradeXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="CustomerGradeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_GRADE_KEY" yfc:tableName="YFS_CUSTOMER_GRADE">
                <xsd:documentation>The primary key of the YFS_CUSTOMER_GRADE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GradeCode" type="yfctype:GradeCode" use="optional">
            <xsd:annotation yfc:columnName="GRADE_CODE" yfc:tableName="YFS_CUSTOMER_GRADE">
                <xsd:documentation>The grade code assigned for the range values between MINIMUM_RATING and MAXIMUM_RATING.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GradeDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="GRADE_DESCRIPTION" yfc:tableName="YFS_CUSTOMER_GRADE">
                <xsd:documentation>The description for the grade code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRating" use="optional">
            <xsd:annotation yfc:columnName="MAXIMUM_RATING" yfc:tableName="YFS_CUSTOMER_GRADE">
                <xsd:documentation>The maximum rating value for the grade.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:CustomerRating"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="MinimumRating" use="optional">
            <xsd:annotation yfc:columnName="MINIMUM_RATING" yfc:tableName="YFS_CUSTOMER_GRADE">
                <xsd:documentation>The minimum rating value for the grade.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:CustomerRating"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_GRADE">
                <xsd:documentation>The organization code that owns the grade.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
