Data/xapidocs/api_javadocs/XSD/YSC_CHANGE_DATA_EXPORT.PUBLISHED.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/CHANGE_DATA_EXPORT/PUBLISHED"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/CHANGE_DATA_EXPORT/PUBLISHED" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_CHANGE_DATA_EXPORT.PUBLISHED.xsd" yfc:rootElement="ChangeProject">
        <xsd:appinfo source="yfc:structure">
            <ChangeProject hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeProject" type="yfc:ChangeProjectXSDType">
        <xsd:annotation yfc:tableName="YFS_CHANGE_PROJECT">
            <xsd:documentation>This table stores Change Project definitions.       A Change Project provides the mechanism to consolidate database changes under a single unit.       A Change Project can be approved on one system so that the database changes associated with it can be sent to another system.   A Change Project is a collection of Change Requests. It is also the unit which a valid user can approve or reject.    All data changed as part of a Change Project will be logged under the same Change Project.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeProjectXSDType">
        <xsd:attribute name="ChangeProjectID"
            type="yfctype:VarcharID-24" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_PROJECT_ID" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>The identifier for the Change Project. If it is not passed during creation,                      it is generated and pre-fixed with the Deployment Type prefix. It cannot be set to DEFAULT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChangeProjectKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_PROJECT_KEY" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>Primary key attribute of YFS_CHANGE_PROJECT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChangeProjectZipFile" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Status" type="yfctype:ChangeProjectStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>The status of the Change Project. As the Change Project progresses through the change process, the status changes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
