Data/xapidocs/api_javadocs/XSD/YSC_getChangeProjectList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getChangeProjectList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getChangeProjectList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getChangeProjectList_input.xsd" yfc:rootElement="ChangeProject">
        <xsd:appinfo source="yfc:structure">
            <ChangeProject hasAttributes="Y">
                <ChangeProjectApproverList>
                    <ChangeProjectApprover hasAttributes="Y"/>
                </ChangeProjectApproverList>
                <ChangeRequestList>
                    <ChangeRequest hasAttributes="Y"/>
                </ChangeRequestList>
            </ChangeProject>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeProject" type="yfc:ChangeProjectXSDType">
        <xsd:annotation yfc:tableName="YFS_CHANGE_PROJECT">
            <xsd:documentation>This table stores Change Project definitions.       A Change Project provides the mechanism to consolidate database changes under a single unit.       A Change Project can be approved on one system so that the database changes associated with it can be sent to another system.   A Change Project is a collection of Change Requests. It is also the unit which a valid user can approve or reject.    All data changed as part of a Change Project will be logged under the same Change Project.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeProjectXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChangeProjectApproverList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChangeRequestList"/>
        </xsd:all>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>Calling Organization used to determine customer organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChangeProjectID"
            type="yfctype:VarcharID-24" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_PROJECT_ID" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>The identifier for the Change Project. If it is not passed during creation,                      it is generated and pre-fixed with the Deployment Type prefix. It cannot be set to DEFAULT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChangeProjectKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_PROJECT_KEY" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>Primary key attribute of YFS_CHANGE_PROJECT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayLocalizedFieldInLocale"
            type="yfctype:Locale" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The locale for which output should be returned. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsImported" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_IMPORTED" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>If set as Y, indicates whether this Change Project was imported from another instance.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LongDescription"
            type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>The long description of the Change Project.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManageUserID" type="yfctype:LoginId-50" use="optional">
            <xsd:annotation yfc:columnName="MANAGE_USER_ID" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>Identifier for the user who caused a change in the Change Project. This is always taken from the Environment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>The organization that defines the Change Project.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>The short description of the Change Project.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ChangeProjectStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>The status of the Change Project. As the Change Project progresses through the change process, the status changes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamCode"
            type="yfctype:DataSecurityGroupId" use="optional">
            <xsd:annotation yfc:columnName="TEAM_CODE" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>The identifier for the team that can approve the Change Project.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UseEnterpriseSyncTime" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="USE_ENTERPRISE_SYNC_TIME" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>If set as Y, indicates that sync time needs to be determined from the enterprise configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserGroupID" type="yfctype:UserGroup" use="optional">
            <xsd:annotation yfc:columnName="USER_GROUP_ID" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>The identifier for the user group that can approve the Change Project.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkspaceID" type="yfctype:VarcharID-24" use="optional">
            <xsd:annotation yfc:columnName="WORKSPACE_ID" yfc:tableName="YFS_CHANGE_PROJECT">
                <xsd:documentation>The identifier for the workspace to which the Change Project belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ChangeProjectApproverList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChangeProjectApprover"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeProjectApprover">
        <xsd:annotation yfc:tableName="YFS_CHANGE_PROJECT_APPROVER">
            <xsd:documentation>This table stores information about the users who can approve a Change Project.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChangeProjectApproverKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CHANGE_PROJECT_APPROVER_KEY" yfc:tableName="YFS_CHANGE_PROJECT_APPROVER">
                    <xsd:documentation>Primary key attribute of YFS_CHANGE_PROJECT_APPROVER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangeProjectKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_PROJECT_KEY" yfc:tableName="YFS_CHANGE_PROJECT_APPROVER">
                    <xsd:documentation>The reference key to the YFS_CHANGE_PROJECT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserID" type="yfctype:LoginId-50" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_CHANGE_PROJECT_APPROVER">
                    <xsd:documentation>The identifier for the user who can approve this change project.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeRequestList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChangeRequest"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeRequest">
        <xsd:annotation yfc:tableName="YFS_CHANGE_REQUEST">
            <xsd:documentation>This table stores Change Request definitions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChangeProjectKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_PROJECT_KEY" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The reference key to the YFS_CHANGE_PROJECT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangeRequestID"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_REQUEST_ID" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The identifier for this change request. If it is not passed during creation,                      it is generated. It cannot be set to DEFAULT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangeRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_REQUEST_KEY" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>Primary key attribute of YFS_CHANGE_REQUEST.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The long description of the Change Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManageUserID" type="yfctype:LoginId-50" use="optional">
                <xsd:annotation yfc:columnName="MANAGE_USER_ID" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>Identifier for the user who caused a change in the Change Project. This is always taken from the Environment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The short description of the Change Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:ChangeRequestStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The status of the Change Request. As the request progresses through the change process, the status changes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
