Data/xapidocs/api_javadocs/XSD/YSC_manageTransformationConfig_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageTransformationConfig/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageTransformationConfig/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YSC_manageTransformationConfig_input.xsd" yfc:rootElement="TransformationConfig">
        <xsd:appinfo source="yfc:structure">
            <TransformationConfig hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TransformationConfig" type="yfc:TransformationConfigXSDType">
        <xsd:annotation yfc:tableName="YFS_TRANSFORMATION_CONFIG">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
                            <code>DocumentType</code>, <code>OrganizationCode</code> and <code>TemplateCode</code> must be passed.
						</Condition>
                        <Error
                            Description="Mandatory parameters for the operation are missing" ErrorCode="YFS10364"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TransformationConfigXSDType">
        <xsd:attribute name="Description" type="yfctype:AttributeName" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>Indicate the Description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:ListenerStatus" use="required">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>Indicates The Document Type Eg:0015 for Quote.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Operation to perform
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>
                    <div> Organization Code for an organization.
							<Validation>
                            <Condition>Must be valid Organization Code in the table <code>YFS_Organization</code>.
										</Condition>
                            <Error
                                Description="Invalid Organization Code." ErrorCode="YFS10395"/>
                        </Validation>
                        <Validation>
                            <Condition>Must be an Enterprise.
										</Condition>
                            <Error
                                Description="Invalid Enterprise Code." ErrorCode="YCP0011"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TemplateCode" type="yfctype:VarcharID-24" use="required">
            <xsd:annotation yfc:columnName="TEMPLATE_CODE" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>The Template Code to specify the type of print e.g : proposal.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TemplateXml" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="TEMPLATE_XML" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>This indicates the XML template for the Corresponding Document Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransformationConfigKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TRANSFORMATION_CONFIG_KEY" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>Primary key of the Transformation Config.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
