Data/xapidocs/api_javadocs/XSD/YSC_recordApprovals_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/recordApprovals/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/recordApprovals/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_recordApprovals_input.xsd" yfc:rootElement="ApproverResponse">
        <xsd:appinfo source="yfc:structure">
            <ApproverResponse hasAttributes="Y">
                <ValidationList>
                    <Validation hasAttributes="Y">
                        <TransactionViolationList>
                            <TransactionViolation hasAttributes="Y">
                                <TransactionInfo hasAttributes="Y"/>
                                <TransactionViolationReferenceList>
                                    <TransactionViolationReference hasAttributes="Y"/>
                                </TransactionViolationReferenceList>
                            </TransactionViolation>
                        </TransactionViolationList>
                    </Validation>
                </ValidationList>
            </ApproverResponse>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ApproverResponse" type="yfc:ApproverResponseXSDType">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>
                <div>
					Specifies the user who is recording a response to a violation.
					<Validation>
                        <Condition>
							If no User exists with a
							<code>Loginid</code>
							the same as the given
							<code>ApproverUserID</code>
                        </Condition>
                        <Error Description="User Not Found." ErrorCode="OMP921_MO07"/>
                    </Validation>
                    <Validation>
                        <Condition>
							If the User with
							<code>Loginid</code>
							the same as the specified
							<code>ApproverUserID</code>
							is not a valid approver for all specified violations.
						</Condition>
                        <Error Description="Invalid Approver" ErrorCode="OMP921_MO05"/>
                    </Validation>
                    <Validation>
                        <Condition>
							If the specified User with
							<code>Loginid</code>
							the same as the specified
							<code>ApproverUserID</code>
							has not been authenticated.
						</Condition>
                        <Error Description="User Not Authenticated" ErrorCode="OMP921_MO00"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ApproverResponseXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ValidationList"/>
        </xsd:all>
        <xsd:attribute name="ApproverUserID" type="yfctype:LoginId" use="required">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                <xsd:documentation>The login ID for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ValidationList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Validation"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Validation">
        <xsd:annotation yfc:tableName="YFS_VALIDATION">
            <xsd:documentation>
                <div>
							Specifies the validation against which violations are to be
							recorded.
							<code>ValidationKey</code>
							or a combination of
							<code>ValidationID</code>
							,
							<code>Domain</code>
							, and
							<code>OrganizationCode</code>
							can be specified to identify a Validation.
							<Validation>
                        <Condition>If no Validation matches the criteria.
								</Condition>
                        <Error Description="No Validation Found." ErrorCode="OMP921_MO03"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:TransactionViolationList"/>
            </xsd:all>
            <xsd:attribute name="Domain" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DOMAIN" yfc:tableName="YFS_VALIDATION">
                    <xsd:documentation>The validation domain for this configuration.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_VALIDATION">
                    <xsd:documentation>The organization for which the validation belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ValidationID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="VALIDATION_ID" yfc:tableName="YFS_VALIDATION">
                    <xsd:documentation>The unique identifier for the VALIDATION.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ValidationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="VALIDATION_KEY" yfc:tableName="YFS_VALIDATION">
                    <xsd:documentation>The primary key of the YFS_VALIDATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionViolationList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:TransactionViolation"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionViolation">
        <xsd:annotation yfc:tableName="YFS_TRANSACTION_VIOLATION">
            <xsd:documentation>
                <div>
									An individual violation. If a record does not exist with the
									specified
									<code>TransactionInfoID</code>
									and
									<code>SequenceNumber</code>
									, a new violation will be created with the given
									<code>TransactionInfoID</code>
									and the next available
									<code>SequenceNumber</code>
									for the TransactionInfo record. If no
									<code>TransactionInfoID</code>
									is passed, one will be generated for the transaction.
									<Validation>
                        <Condition>The Approval Rule does not exist.
										</Condition>
                        <Error Description="Approval Rule Not Found." ErrorCode="OMP921_MO01"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>ApprovalRuleID</code>
											is invalid for the specified Validation.
										</Condition>
                        <Error
                            Description="Approval Rule is not valid for Validation" ErrorCode="OMP921_MO02"/>
                    </Validation>
                    <Validation>
                        <Condition>
											The Violation does not exist and any of the parameters to
											create it:
											<code>ApprovalRuleID</code>
											,
											<code>OrganizationCode</code>
											, or
											<code>DocumentType</code>
											is missing.
										</Condition>
                        <Error
                            Description="Missing Mandatory Parameters" ErrorCode="YFS10364"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionViolationReferenceList"/>
            </xsd:all>
            <xsd:attribute name="ApprovalRuleID"
                type="yfctype:VARCHAR2-40" use="optional">
                <xsd:annotation yfc:columnName="APPROVAL_RULE_ID" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>ID of Approval Rule that caused violation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Approved" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
									Determines whether the violation is Approved.

									Valid Values:
									<b>
                            <code>Y</code>
                        </b>
									or
									<b>
                            <code>N</code>
                        </b>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApproverComments"
                type="yfctype:VARCHAR2-2000" use="optional">
                <xsd:annotation yfc:columnName="APPROVER_COMMENTS" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>Place Holder to capture comments entered by the approver.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType"
                type="yfctype:VARCHAR2-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>Document Type of the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MessageCode"
                type="yfctype:VARCHAR2-100" use="optional">
                <xsd:annotation yfc:columnName="MESSAGE_CODE" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>Message code to be displayed when approval rule is violated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:CHAR-24" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>Organization Code of org that owns the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNumber" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NUMBER" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>Number to identify the violation sequence within a transaction.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NUMBER-4"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Status" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>The status of the violation.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:ViolationStatus"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TransactionInfoID"
                type="yfctype:VARCHAR2-10" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_INFO_ID" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                    <xsd:documentation>The Reference to the transaction that resulted in a violation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionInfo">
        <xsd:annotation yfc:tableName="YFS_TRANSACTION_INFO">
            <xsd:documentation>
                <div>
										The element containing the unique fields for a given
										Concrete
										Transaction Info table.
									</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_TRANSACTION_INFO">
                    <xsd:documentation>Primary key for YFS_ORDER_HEADER</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionViolationReferenceList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:TransactionViolationReference"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionViolationReference">
        <xsd:annotation yfc:tableName="YFS_TRANS_VIOLATION_REFERENCE">
            <xsd:documentation>
                <div>
											A Violation Reference.
										</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ReferenceName"
                type="yfctype:VARCHAR2-40" use="required">
                <xsd:annotation yfc:columnName="REFERENCE_NAME" yfc:tableName="YFS_TRANS_VIOLATION_REFERENCE">
                    <xsd:documentation>The identifier for the additional reference value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceValue"
                type="yfctype:VARCHAR2-40" use="required">
                <xsd:annotation yfc:columnName="REFERENCE_VALUE" yfc:tableName="YFS_TRANS_VIOLATION_REFERENCE">
                    <xsd:documentation>Value of the additional reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
