Data/xapidocs/api_javadocs/XSD/YSC_getTransformationData_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getTransformationData/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getTransformationData/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getTransformationData_output.xsd" yfc:rootElement="TransformationConfigList">
        <xsd:appinfo source="yfc:structure">
            <TransformationConfigList>
                <TransformationConfig hasAttributes="Y">
                    <TransformationHeaderList>
                        <TransformationHeader hasAttributes="Y">
                            <TransformationHeaderLocaleList>
                                <TransformationHeaderLocale hasAttributes="Y"/>
                            </TransformationHeaderLocaleList>
                        </TransformationHeader>
                    </TransformationHeaderList>
                </TransformationConfig>
            </TransformationConfigList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TransformationConfigList" type="yfc:TransformationConfigListXSDType"/>
    <xsd:complexType name="TransformationConfigListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransformationConfig"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="TransformationConfig">
        <xsd:annotation yfc:tableName="YFS_TRANSFORMATION_CONFIG">
            <xsd:documentation>This table contains the Configuration Data for Transformation Template.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransformationHeaderList"/>
            </xsd:all>
            <xsd:attribute name="Description"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                    <xsd:documentation>
                        <div>This attribute corresponds to the  description of the configuration data.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentDescription"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>This attribute corresponds to the  description of the Document Type.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType"
                type="yfctype:ListenerStatus" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                    <xsd:documentation>
                        <div>Document Type of the corresponding Document . Eg <code>0015</code> for <code>"Quote"</code>
                            <Validation>
                                <Condition>Must be valid Document Type in the table <code>YFS_Document_Params</code>.
								</Condition>
                                <Error
                                    Description="Invalid Document Type." ErrorCode="YFS10367"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TemplateCode"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="TEMPLATE_CODE" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                    <xsd:documentation>
                        <div> Template Code for the Document Type.It represents the type for which template will be used.  E.g:<code>Print Proposal</code> for printing the Proposal.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransformationConfigKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="TRANSFORMATION_CONFIG_KEY" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                    <xsd:documentation>Primary key of the Transformation Config.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransformationHeaderList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransformationHeader"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransformationHeader">
        <xsd:annotation yfc:tableName="YFS_TRANSFORMATION_HEADER">
            <xsd:documentation>This table contains the Transformation Data for different Organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransformationHeaderLocaleList"/>
            </xsd:all>
            <xsd:attribute name="Description"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                    <xsd:documentation>
                        <div>This attribute corresponds to the  description for the corresponding Template name.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                    <xsd:documentation>
                        <div> Organization Code for an organization.
							<Validation>
                                <Condition>Must be valid Organization Code in the table <code>YFS_Organization</code>.
										</Condition>
                                <Error
                                    Description="Invalid Organization Code." ErrorCode="YFS10395"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Template" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="TEMPLATE" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                    <xsd:documentation>
                        <div> XSL Template for print format.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TemplateName"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="TEMPLATE_NAME" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                    <xsd:documentation>
                        <div>This attribute corresponds to name of different templates for the corresponding Template Code. Eg <code>"Template for Government" </code>for <code>"Print Proposal"</code>. 
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransformationHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="TRANSFORMATION_HEADER_KEY" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                    <xsd:documentation>Primary key of the Transformation Header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransformationHeaderLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransformationHeaderLocale"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransformationHeaderLocale">
        <xsd:annotation yfc:tableName="YFS_TRANS_HEADER_LOCALE">
            <xsd:documentation>This table contains the Locale of Transformation Header.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_TRANS_HEADER_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_TRANS_HEADER_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TemplateName"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="TEMPLATE_NAME" yfc:tableName="YFS_TRANS_HEADER_LOCALE">
                    <xsd:documentation>
                        <div>This attribute corresponds to locale specific Template name. Eg <code>"Template for Government" </code>for <code>"Print Proposal" for en_US_EST locale</code>. 
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
