Data/xapidocs/api_javadocs/XSD/YSC_manageSyncDBImport_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageSyncDBImport/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageSyncDBImport/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_manageSyncDBImport_output.xsd" yfc:rootElement="SyncDBImport">
        <xsd:appinfo source="yfc:structure">
            <SyncDBImport hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SyncDBImport" type="yfc:SyncDBImportXSDType">
        <xsd:annotation yfc:tableName="YFS_SYNC_DB_IMPORT">
            <xsd:documentation>This table holds information about database import synchronization times and types (FULL or DELTA).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SyncDBImportXSDType">
        <xsd:attribute name="DBImportTime" use="optional">
            <xsd:annotation yfc:columnName="DB_IMPORT_TIME" yfc:tableName="YFS_SYNC_DB_IMPORT">
                <xsd:documentation>The time of last import.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:HourMinuteTimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SYNC_DB_IMPORT">
                <xsd:documentation>The organization that performed the import.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProfileOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="PROFILE_ORGANIZATION_CODE" yfc:tableName="YFS_SYNC_DB_IMPORT">
                <xsd:documentation>The organization that owns the profile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SequenceNo" type="yfctype:Counter" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_SYNC_DB_IMPORT">
                <xsd:documentation>Sequence number used to identify which sync file was imported.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncDBImportKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SYNC_DB_IMPORT_KEY" yfc:tableName="YFS_SYNC_DB_IMPORT">
                <xsd:documentation>The primary key of the YFS_SYNC_DB_IMPORT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncProfileKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="SyncType" type="yfctype:ID-15" use="optional">
            <xsd:annotation yfc:columnName="SYNC_TYPE" yfc:tableName="YFS_SYNC_DB_IMPORT">
                <xsd:documentation>The type of synchronization (FULL or DELTA).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
