Data/xapidocs/api_javadocs/XSD/YSC_getValidationRuleList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getValidationRuleList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getValidationRuleList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getValidationRuleList_input.xsd" yfc:rootElement="ValidationRule">
        <xsd:appinfo source="yfc:structure">
            <ValidationRule hasAttributes="Y">
                <GreexRule/>
                <DataForPreDefinedRule/>
            </ValidationRule>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ValidationRule" type="yfc:ValidationRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_VALIDATION_RULE">
            <xsd:documentation>This table stores validation rules</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ValidationRuleXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:GreexRule"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DataForPreDefinedRule"/>
        </xsd:all>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						 If CallingOrganizationCode is passed, then it will be used as the context organization. This, combined with the configuration data setup for rules, will result in data filtered for access by the given organization. 
					</div>
                    <div>
                        <Validation>
                            <Condition>If OrganizationCode is not passed, CallingOrganizationCode and either (Domain/ValidationID) or (ValidationKey) must be passed. 
							</Condition>
                            <Error
                                Description="Missing Mandatory Parameters" ErrorCode="YFS10364"/>
                        </Validation>
                        <Validation>
                            <Condition>Validation idenitified by the attributes (Domain/ValidationID) or (ValidationKey) must exist.
							</Condition>
                            <Error Description="Validation Not Found" ErrorCode="OMP921_MO03"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Channel" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="CHANNEL" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>The channel for which this rule applies.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Document type to which this validation rule belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Domain" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DOMAIN" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>The validation domain for this configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveEndDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_END_DATE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Defines the time before which the rule is effective.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveStartDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_START_DATE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Defines the time after which the rule is effective.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IsActive" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ACTIVE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Indicates when the validation rule is active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LaneType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="LANE_TYPE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>The Lane type for which this rule applies.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MessageCode" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="MESSAGE_CODE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Message code to be displayed when validation rule is violated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>The organization that is associated with this validation rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>The region for which this rule applies.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StoreType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="STORE_TYPE" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>The store type for which this rule applies.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidationID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="VALIDATION_ID" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>The unique identifier for the VALIDATION.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="VALIDATION_KEY" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Reference key to the YFS_VALIDATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidationRuleID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="VALIDATION_RULE_ID" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>Validation rule identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidationRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="VALIDATION_RULE_KEY" yfc:tableName="YFS_VALIDATION_RULE">
                <xsd:documentation>The primary key of the YFS_VALIDATION_RULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="GreexRule">
        <xsd:annotation>
            <xsd:documentation>
                <div>
	               			The Greex format advanced XML condition associated with this validation rule.
	                   </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="DataForPreDefinedRule">
        <xsd:annotation>
            <xsd:documentation>
                <div>
	               		The data to be used as part of the greex condition defined in the pre-defined greex rule.
	                   </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
