Data/xapidocs/api_javadocs/XSD/YSC_getApprovalGroupList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getApprovalGroupList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getApprovalGroupList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getApprovalGroupList_input.xsd" yfc:rootElement="ApprovalGroup">
        <xsd:appinfo source="yfc:structure">
            <ApprovalGroup hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ApprovalGroup" type="yfc:ApprovalGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_APPROVAL_GROUP">
            <xsd:documentation>The approval group table defines the approval group plans to be used for order approval</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ApprovalGroupXSDType">
        <xsd:attribute name="ApprovalGroupID" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ApprovalGroupKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="APPROVAL_GROUP_KEY" yfc:tableName="YFS_APPROVAL_GROUP">
                <xsd:documentation>The primary key of the YFS_APPROVAL_GROUP table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApprovalGroupName"
            type="yfctype:ApprovalGroupName" use="optional">
            <xsd:annotation yfc:columnName="APPROVAL_GROUP_NAME" yfc:tableName="YFS_APPROVAL_GROUP">
                <xsd:documentation>The name of this approval group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_APPROVAL_GROUP">
                <xsd:documentation>Document type to which this approval group belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_APPROVAL_GROUP">
                <xsd:documentation>The organization that is associated with this approval group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
