Data/xapidocs/api_javadocs/XSD/YSC_getIndexStatus_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getIndexStatus/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getIndexStatus/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getIndexStatus_input.xsd" yfc:rootElement="IndexStatus">
        <xsd:appinfo source="yfc:structure">
            <IndexStatus hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IndexStatus" type="yfc:IndexStatusXSDType">
        <xsd:annotation yfc:tableName="YFS_INDEX_STATUS">
            <xsd:documentation>This table contains the sanity of the index server with respect to index build and search operations. Both these operations read this table before attempting on index server. Besides that they update this table if any issues with the index server is found during the opearation.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="IndexStatusXSDType">
        <xsd:attribute name="IndexName" type="yfctype:IndexName" use="required">
            <xsd:annotation yfc:columnName="INDEX_NAME" yfc:tableName="YFS_INDEX_STATUS">
                <xsd:documentation>The name of the index. This is the XMLName of the corresponding entity. For eg: Indexing is enabled for Order_Header and Shipment entities. Hence name of the indices would be Order and Shipment respectively.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
