Data/xapidocs/api_javadocs/XSD/YSC_manageApprovalPlan_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageApprovalPlan/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageApprovalPlan/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_manageApprovalPlan_output.xsd" yfc:rootElement="ApprovalPlan">
        <xsd:appinfo source="yfc:structure">
            <ApprovalPlan hasAttributes="Y">
                <PredecessorApprovalPlans>
                    <ApprovalPlan hasAttributes="Y"/>
                </PredecessorApprovalPlans>
            </ApprovalPlan>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ApprovalPlan" type="yfc:ApprovalPlanXSDType">
        <xsd:annotation yfc:tableName="YFS_APPROVAL_PLAN">
            <xsd:documentation>This table stores order approval plans</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ApprovalPlanXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PredecessorApprovalPlans"/>
        </xsd:all>
        <xsd:attribute name="ApprovalName"
            type="yfctype:ApprovalPlanApprovalName" use="optional">
            <xsd:annotation yfc:columnName="APPROVAL_NAME" yfc:tableName="YFS_APPROVAL_PLAN">
                <xsd:documentation>This attribute indicates a name for this approval plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApprovalPlanKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="APPROVAL_PLAN_KEY" yfc:tableName="YFS_APPROVAL_PLAN">
                <xsd:documentation>The primary key of the YFS_APPROVAL_PLAN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsMandatory" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MANDATORY" yfc:tableName="YFS_APPROVAL_PLAN">
                <xsd:documentation>Indicates if the approval is mandatory and is required regardless of the hierarchy.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_APPROVAL_PLAN">
                <xsd:documentation>The organization that is associated with this approval plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PredecessorSeq"
            type="yfctype:ApprovalPlanPredecessorSeq" use="optional">
            <xsd:annotation yfc:columnName="PREDECESSOR_SEQ" yfc:tableName="YFS_APPROVAL_PLAN">
                <xsd:documentation>Indicates the predecessor sequences which needs to provide approval first before this team/user group can approve.  Multiple predecessors can be stored by specifying comma separated sequences.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Sequence" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE" yfc:tableName="YFS_APPROVAL_PLAN">
                <xsd:documentation>Indicates the sequence of the approval.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:LongSequence"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TeamCode"
            type="yfctype:DataSecurityGroupId" use="optional">
            <xsd:annotation yfc:columnName="TEAM_CODE" yfc:tableName="YFS_APPROVAL_PLAN">
                <xsd:documentation>Team which has to approve the document.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserGroupID" type="yfctype:UserGroup" use="optional">
            <xsd:annotation yfc:columnName="USER_GROUP_ID" yfc:tableName="YFS_APPROVAL_PLAN">
                <xsd:documentation>User group which has to approve the document.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PredecessorApprovalPlans">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="ApprovalPlan">
                    <xsd:annotation yfc:tableName="YFS_APPROVAL_PLAN">
                        <xsd:documentation>This table stores order approval plans</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="ApprovalPlanKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="APPROVAL_PLAN_KEY" yfc:tableName="YFS_APPROVAL_PLAN">
                                <xsd:documentation>The primary key of the YFS_APPROVAL_PLAN table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Sequence" use="optional">
                            <xsd:annotation yfc:columnName="SEQUENCE" yfc:tableName="YFS_APPROVAL_PLAN">
                                <xsd:documentation>Indicates the sequence of the approval.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:LongSequence"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
