Data/xapidocs/api_javadocs/XSD/YSC_shouldAccessPolicyBeAppliedOnUpdateUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/shouldAccessPolicyBeAppliedOnUpdateUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/shouldAccessPolicyBeAppliedOnUpdateUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YSC_shouldAccessPolicyBeAppliedOnUpdateUE_output.xsd" yfc:rootElement="AccessPolicy">
        <xsd:appinfo source="yfc:structure">
            <AccessPolicy hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AccessPolicy" type="yfc:AccessPolicyXSDType"/>
    <xsd:complexType name="AccessPolicyXSDType">
        <xsd:attribute name="ShouldAccessPolicyBeApplied"
            type="yfctype:Flag" use="required">
            <xsd:annotation>
                <xsd:documentation>Mandated. Determines if entity write request is granted to the given user.<br/>
		Valid Values: <code>Y</code> or <code>N</code>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
