Data/xapidocs/api_javadocs/XSD/YSC_getCustomerGradeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getCustomerGradeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getCustomerGradeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getCustomerGradeList_output.xsd" yfc:rootElement="CustomerGradeList">
        <xsd:appinfo source="yfc:structure">
            <CustomerGradeList hasAttributes="Y">
                <CustomerGrade hasAttributes="Y"/>
            </CustomerGradeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerGradeList" type="yfc:CustomerGradeListXSDType"/>
    <xsd:complexType name="CustomerGradeListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CustomerGrade"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The total number of order approval records.                   
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CustomerGrade">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_GRADE">
            <xsd:documentation>This table contains customer grade assignments for a range of customer rating.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CustomerGradeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_GRADE_KEY" yfc:tableName="YFS_CUSTOMER_GRADE">
                    <xsd:documentation>The primary key of the YFS_CUSTOMER_GRADE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GradeCode" type="yfctype:GradeCode" use="optional">
                <xsd:annotation yfc:columnName="GRADE_CODE" yfc:tableName="YFS_CUSTOMER_GRADE">
                    <xsd:documentation>The grade code assigned for the range values between MINIMUM_RATING and MAXIMUM_RATING.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GradeDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="GRADE_DESCRIPTION" yfc:tableName="YFS_CUSTOMER_GRADE">
                    <xsd:documentation>The description for the grade code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumRating" use="optional">
                <xsd:annotation yfc:columnName="MAXIMUM_RATING" yfc:tableName="YFS_CUSTOMER_GRADE">
                    <xsd:documentation>The maximum rating value for the grade.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:CustomerRating"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MinimumRating" use="optional">
                <xsd:annotation yfc:columnName="MINIMUM_RATING" yfc:tableName="YFS_CUSTOMER_GRADE">
                    <xsd:documentation>The minimum rating value for the grade.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:CustomerRating"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_GRADE">
                    <xsd:documentation>The organization code that owns the grade.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
