Data/xapidocs/api_javadocs/XSD/YSC_getValidationDomainList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getValidationDomainList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getValidationDomainList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YSC_getValidationDomainList_output.xsd" yfc:rootElement="ValidationDomainList">
        <xsd:appinfo source="yfc:structure">
            <ValidationDomainList hasAttributes="Y">
                <ValidationDomain hasAttributes="Y"/>
            </ValidationDomainList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ValidationDomainList" type="yfc:ValidationDomainListXSDType"/>
    <xsd:complexType name="ValidationDomainListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ValidationDomain"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="ValidationDomain">
        <xsd:annotation yfc:tableName="YFS_VALIDATION_DOMAIN">
            <xsd:documentation>This table stores the configuration for a validation domain</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DocumentType"
                type="yfctype:DocumentType" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_VALIDATION_DOMAIN">
                    <xsd:documentation>The document type for the validation domain</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Domain" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DOMAIN" yfc:tableName="YFS_VALIDATION_DOMAIN">
                    <xsd:documentation>The validation domain for this configuration.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_VALIDATION_DOMAIN">
                    <xsd:documentation>The enterprise for which the validation domain belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldType" type="yfctype:CodeType" use="optional">
                <xsd:annotation yfc:columnName="HOLD_TYPE" yfc:tableName="YFS_VALIDATION_DOMAIN">
                    <xsd:documentation>The hold type of the hold that will be applied on the order when a violation of the validation within the validation domain occur.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsEnabled" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ENABLED" yfc:tableName="YFS_VALIDATION_DOMAIN">
                    <xsd:documentation>The flag indicates whether or not the validation domain is enable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ValidationDomainKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="VALIDATION_DOMAIN_KEY" yfc:tableName="YFS_VALIDATION_DOMAIN">
                    <xsd:documentation>The primary key of the YFS_VALIDATION_DOMAIN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
