Data/xapidocs/api_javadocs/XSD/YSC_getSyncProfileList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getSyncProfileList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getSyncProfileList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getSyncProfileList_input.xsd" yfc:rootElement="SyncProfile">
        <xsd:appinfo source="yfc:structure">
            <SyncProfile hasAttributes="Y">
                <Query hasAttributes="Y"/>
                <SyncProfileSubscriptionList>
                    <SyncProfileSubscription hasAttributes="Y"/>
                </SyncProfileSubscriptionList>
            </SyncProfile>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SyncProfile" type="yfc:SyncProfileXSDType">
        <xsd:annotation yfc:tableName="YFS_SYNC_PROFILE">
            <xsd:documentation>
                <div>
					This table holds information about SyncProfiles.
					<Validation>
                        <Condition>
                            <code>TableGroup</code>
							passed should be a valid TableGroup.
						</Condition>
                        <Error
                            Description="Invalid TableGroup passed in the input." ErrorCode="YSC921_0002"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SyncProfileXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Query"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SyncProfileSubscriptionList"/>
        </xsd:all>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="LongDescription"
            type="yfctype:FreeDescription-1500" use="optional">
            <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The long description of the profile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The organization associated with this SyncProfile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription"
            type="yfctype:FreeDescription-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The short description of the profile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncProfileID"
            type="yfctype:SyncTableID-40" use="optional">
            <xsd:annotation yfc:columnName="SYNC_PROFILE_ID" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The ID for this SyncProfile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncProfileKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SYNC_PROFILE_KEY" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The primary key of the YFS_SYNC_PROFILE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncQueryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SYNC_QUERY_KEY" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The query used to filter elements into this profile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncType" type="yfctype:ID-15" use="optional">
            <xsd:annotation yfc:columnName="SYNC_TYPE" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The data synchronization type for which this SyncProfile is defined. Possible values are FULL, DELTA or null. If null, the SyncProfile would be used for both FULL and DELTA data synchronization types.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TableGroup" type="yfctype:SyncTableID-40" use="optional">
            <xsd:annotation yfc:columnName="TABLEGROUP" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>This defines what entity is associated with this profile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Query">
        <xsd:annotation yfc:tableName="YFS_QUERY">
            <xsd:documentation>Stores search and association queries. Currently used to store item associations defined as queries.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="QueryName" type="yfctype:QueryName" use="optional">
                <xsd:annotation yfc:columnName="QUERY_NAME" yfc:tableName="YFS_QUERY">
                    <xsd:documentation>
                        <div>Name of the Query
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SyncProfileSubscriptionList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SyncProfileSubscription"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SyncProfileSubscription">
        <xsd:annotation yfc:tableName="YFS_SYNC_PROFILE_SUBSCRIPTION">
            <xsd:documentation>This table holds an association between a subscription and a profile.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SyncProfSubKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SYNC_PROF_SUB_KEY" yfc:tableName="YFS_SYNC_PROFILE_SUBSCRIPTION">
                    <xsd:documentation>The primary key of the YFS_SYNC_PROFILE_SUBSCRIPTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SyncProfileKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SYNC_PROFILE_KEY" yfc:tableName="YFS_SYNC_PROFILE_SUBSCRIPTION">
                    <xsd:documentation>The primary key of the YFS_SYNC_PROFILE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SyncSubscriptionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SYNC_SUBSCRIPTION_KEY" yfc:tableName="YFS_SYNC_PROFILE_SUBSCRIPTION">
                    <xsd:documentation>The primary key of the YFS_SUBSCRIPTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
