Data/xapidocs/api_javadocs/XSD/YSC_getAdditionalCustomerInformationUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getAdditionalCustomerInformationUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getAdditionalCustomerInformationUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YSC_getAdditionalCustomerInformationUE_output.xsd" yfc:rootElement="Customer">
        <xsd:appinfo source="yfc:structure">
            <Customer hasAttributes="Y">
                <CustomerAnalytics hasAttributes="Y"/>
            </Customer>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Customer" type="yfc:CustomerXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER">
            <xsd:documentation>
                <div>
				Specify the unique identification of a customer.  <code>CustomerKey</code> or a combination of <code>OrganizationCode</code> and <code>CustomerID</code> can be specified to identify a customer.
				<Validation>
                        <Condition>If no customer matches the criteria
					</Condition>
                        <Error Description="No Record Found." ErrorCode="YFS10001"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CustomerAnalytics"/>
        </xsd:all>
        <xsd:attribute name="BuyerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>The organization code of buyer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>The identifier for the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_KEY" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>The primary key for the YFS_CUSTOMER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerRewardsNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_REWARDS_NO" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>The identifier of the customer's rewards number</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InheritFromParents" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Determines whether addresses and payments should be inherited from the customer's parents. Default: N</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>The organization code of organization that defines this customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CustomerAnalytics">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_ANALYTICS">
            <xsd:documentation>The table stores the customer information like customer grade information for a customer, from an external BI system. This table is meant for either direct data upload through custom BI system or can also be updated using the managecustomer api. If this table is inserted or updated through direct db update (ETL), no events will be raised.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CustomerAnalyticsKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ANALYTICS_KEY" yfc:tableName="YFS_CUSTOMER_ANALYTICS">
                    <xsd:documentation>The primary key of the YFS_CUSTOMER_ANALYTICS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GradeCode" type="yfctype:GradeCode" use="optional">
                <xsd:annotation yfc:columnName="GRADE_CODE" yfc:tableName="YFS_CUSTOMER_ANALYTICS">
                    <xsd:documentation>The grade code assigned for the range values between MINIMUM_RATING and MAXIMUM_RATING.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GradeDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="GRADE_DESCRIPTION" yfc:tableName="YFS_CUSTOMER_ANALYTICS">
                    <xsd:documentation>The description for the grade code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
