Data/xapidocs/api_javadocs/XSD/YSC_manageSyncProfile_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageSyncProfile/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageSyncProfile/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_manageSyncProfile_input.xsd" yfc:rootElement="SyncProfile">
        <xsd:appinfo source="yfc:structure">
            <SyncProfile hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SyncProfile" type="yfc:SyncProfileXSDType">
        <xsd:annotation yfc:tableName="YFS_SYNC_PROFILE">
            <xsd:documentation>
                <div>
				This table holds information about SyncProfiles.  One of SyncProfileKey or both SyncProfileID and OrganizationCode must be passed to uniquely identify this SyncProfile. 
						<Validation>
                        <Condition>
                            <code>TableGroup</code> passed should be a valid TableGroup.<Code>SyncProfileKey</Code>
                        </Condition>
                        <Error
                            Description="Invalid TableGroup passed in the input." ErrorCode="YSC921_0002"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>SyncQueryKey</code> passed should be a valid Query Key.</Condition>
                        <Error
                            Description="Invalid SyncQueryKey passed in the input." ErrorCode="YSC921_0003"/>
                    </Validation>
                    <Validation>
                        <Condition>Pass either <Code>SyncProfileKey</Code>, or both <Code>SyncProfileID</Code> and <Code>OrganizationCode</Code>.</Condition>
                        <Error
                            Description="Mandatory SyncProfile attributes missing." ErrorCode="YSC921_0006"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>OrganizationCode</code> passed should be a valid OrganizationCode.</Condition>
                        <Error
                            Description="OrganizationCode does not exist." ErrorCode="YSC921_0007"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SyncProfileXSDType">
        <xsd:attribute name="LongDescription"
            type="yfctype:FreeDescription-1500" use="optional">
            <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The long description of the profile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Operation" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							Operation to take
							<br/>
							Valid Values:
							<br/>
                        <b>
                            <code>Manage</code>
                        </b>
							- Creates a new record if it does not exist or modifies an
							existing record if it does.
							<br/>
                        <b>
                            <code>Create</code>
                        </b>
							- Creates a new record.
							<br/>
                        <b>
                            <code>Modify</code>
                        </b>
							- Changes the value of an existing record.
							<br/>
                        <b>
                            <code>Delete</code>
                        </b>
							- Deletes an existing record.
							<br/>
							The default behavior is
							<b>
                            <code>Manage</code>
                        </b>
							.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The organization associated with this SyncProfile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription"
            type="yfctype:FreeDescription-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The short description of the profile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncProfileID"
            type="yfctype:SyncTableID-40" use="optional">
            <xsd:annotation yfc:columnName="SYNC_PROFILE_ID" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The ID for this SyncProfile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncProfileKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SYNC_PROFILE_KEY" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The primary key of the YFS_SYNC_PROFILE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncQueryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SYNC_QUERY_KEY" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The query used to filter elements into this profile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncType" type="yfctype:ID-15" use="optional">
            <xsd:annotation yfc:columnName="SYNC_TYPE" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>The data synchronization type for which this SyncProfile is defined. Possible values are FULL, DELTA or null. If null, the SyncProfile would be used for both FULL and DELTA data synchronization types.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TableGroup" type="yfctype:SyncTableID-40" use="optional">
            <xsd:annotation yfc:columnName="TABLEGROUP" yfc:tableName="YFS_SYNC_PROFILE">
                <xsd:documentation>This defines what entity is associated with this profile.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
