Data/xapidocs/api_javadocs/XSD/YSC_getChangeRequestList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getChangeRequestList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getChangeRequestList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getChangeRequestList_output.xsd" yfc:rootElement="ChangeRequestList">
        <xsd:appinfo source="yfc:structure">
            <ChangeRequestList hasAttributes="Y">
                <ChangeRequest hasAttributes="Y">
                    <ChangeRequestLocaleList hasAttributes="Y">
                        <ChangeRequestLocale hasAttributes="Y"/>
                    </ChangeRequestLocaleList>
                    <ChangeRequestAssignmentList hasAttributes="Y">
                        <ChangeRequestAssignment hasAttributes="Y"/>
                    </ChangeRequestAssignmentList>
                    <ChangeProject hasAttributes="Y">
                        <ChangeProjectLocaleList hasAttributes="Y">
                            <ChangeProjectLocale hasAttributes="Y"/>
                        </ChangeProjectLocaleList>
                    </ChangeProject>
                </ChangeRequest>
            </ChangeRequestList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeRequestList" type="yfc:ChangeRequestListXSDType"/>
    <xsd:complexType name="ChangeRequestListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ChangeRequest"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ChangeRequest">
        <xsd:annotation yfc:tableName="YFS_CHANGE_REQUEST">
            <xsd:documentation>This table stores Change Request definitions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChangeRequestLocaleList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChangeRequestAssignmentList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChangeProject"/>
            </xsd:all>
            <xsd:attribute name="ChangeProjectKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_PROJECT_KEY" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The reference key to the YFS_CHANGE_PROJECT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangeRequestID"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_REQUEST_ID" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The identifier for this change request. If it is not passed during creation,                      it is generated. It cannot be set to DEFAULT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangeRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_REQUEST_KEY" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>Primary key attribute of YFS_CHANGE_REQUEST.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The long description of the Change Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManageUserID" type="yfctype:LoginId-50" use="optional">
                <xsd:annotation yfc:columnName="MANAGE_USER_ID" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>Identifier for the user who caused a change in the Change Project. This is always taken from the Environment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The short description of the Change Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:ChangeRequestStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CHANGE_REQUEST">
                    <xsd:documentation>The status of the Change Request. As the request progresses through the change process, the status changes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeRequestLocaleList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ChangeRequestLocale"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeRequestLocale">
        <xsd:annotation yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
            <xsd:documentation>The table is used to store localized information for the related Change Requests in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChangeRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_REQUEST_KEY" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                    <xsd:documentation>The reference key to the YFS_CHANGE_REQUEST table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangeRequestLocaleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CHANGE_REQUEST_LOCALE_KEY" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                    <xsd:documentation>The primary key of the YFS_CHANGE_REQUEST_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                    <xsd:documentation>The long description of the Change Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                    <xsd:documentation>The short description of the Change Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeRequestAssignmentList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ChangeRequestAssignment"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeRequestAssignment">
        <xsd:annotation yfc:tableName="YFS_CHANGE_REQUEST_ASSIGNMENT">
            <xsd:documentation>This table stores information about Change Request assignments.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChangeRequestAssignmentKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CHANGE_REQUEST_ASSIGNMENT_KEY" yfc:tableName="YFS_CHANGE_REQUEST_ASSIGNMENT">
                    <xsd:documentation>Primary key attribute of YFS_CHANGE_REQUEST_ASSIGNMENT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangeRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_REQUEST_KEY" yfc:tableName="YFS_CHANGE_REQUEST_ASSIGNMENT">
                    <xsd:documentation>The reference key to the YFS_CHANGE_REQUEST table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserID" type="yfctype:LoginId-50" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_CHANGE_REQUEST_ASSIGNMENT">
                    <xsd:documentation>Identifier for the user assigned to the Change Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeProject">
        <xsd:annotation yfc:tableName="YFS_CHANGE_PROJECT">
            <xsd:documentation>This table stores Change Project definitions.       A Change Project provides the mechanism to consolidate database changes under a single unit.       A Change Project can be approved on one system so that the database changes associated with it can be sent to another system.   A Change Project is a collection of Change Requests. It is also the unit which a valid user can approve or reject.    All data changed as part of a Change Project will be logged under the same Change Project.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChangeProjectLocaleList"/>
            </xsd:all>
            <xsd:attribute name="ChangeProjectID"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_PROJECT_ID" yfc:tableName="YFS_CHANGE_PROJECT">
                    <xsd:documentation>The identifier for the Change Project. If it is not passed during creation,                      it is generated and pre-fixed with the Deployment Type prefix. It cannot be set to DEFAULT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangeProjectKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_PROJECT_KEY" yfc:tableName="YFS_CHANGE_PROJECT">
                    <xsd:documentation>Primary key attribute of YFS_CHANGE_PROJECT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsImported" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_IMPORTED" yfc:tableName="YFS_CHANGE_PROJECT">
                    <xsd:documentation>If set as Y, indicates whether this Change Project was imported from another instance.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_CHANGE_PROJECT">
                    <xsd:documentation>The long description of the Change Project.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManageUserID" type="yfctype:LoginId-50" use="optional">
                <xsd:annotation yfc:columnName="MANAGE_USER_ID" yfc:tableName="YFS_CHANGE_PROJECT">
                    <xsd:documentation>Identifier for the user who caused a change in the Change Project. This is always taken from the Environment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CHANGE_PROJECT">
                    <xsd:documentation>The organization that defines the Change Project.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CHANGE_PROJECT">
                    <xsd:documentation>The short description of the Change Project.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:ChangeProjectStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CHANGE_PROJECT">
                    <xsd:documentation>The status of the Change Project. As the Change Project progresses through the change process, the status changes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamCode"
                type="yfctype:DataSecurityGroupId" use="optional">
                <xsd:annotation yfc:columnName="TEAM_CODE" yfc:tableName="YFS_CHANGE_PROJECT">
                    <xsd:documentation>The identifier for the team that can approve the Change Project.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UseEnterpriseSyncTime"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="USE_ENTERPRISE_SYNC_TIME" yfc:tableName="YFS_CHANGE_PROJECT">
                    <xsd:documentation>If set as Y, indicates that sync time needs to be determined from the enterprise configuration.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserGroupID" type="yfctype:UserGroup" use="optional">
                <xsd:annotation yfc:columnName="USER_GROUP_ID" yfc:tableName="YFS_CHANGE_PROJECT">
                    <xsd:documentation>The identifier for the user group that can approve the Change Project.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkspaceID"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="WORKSPACE_ID" yfc:tableName="YFS_CHANGE_PROJECT">
                    <xsd:documentation>The identifier for the workspace to which the Change Project belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeProjectLocaleList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ChangeProjectLocale"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChangeProjectLocale">
        <xsd:annotation yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
            <xsd:documentation>The table is used to store localized information for the related Change Projects in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChangeProjectKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_PROJECT_KEY" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                    <xsd:documentation>The reference key to the YFS_CHANGE_PROJECT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangeProjectLocaleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CHANGE_PROJECT_LOCALE_KEY" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                    <xsd:documentation>The primary key of the YFS_CHANGE_PROJECT_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                    <xsd:documentation>The long description of the Change Project.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                    <xsd:documentation>The short description of the Change Project.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
