Data/xapidocs/api_javadocs/XSD/YSC_MGR_OVERRIDES.ON_VIOLATION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/MGR_OVERRIDES/ON_VIOLATION"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/MGR_OVERRIDES/ON_VIOLATION" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_MGR_OVERRIDES.ON_VIOLATION.xsd" yfc:rootElement="TransactionViolation">
        <xsd:appinfo source="yfc:structure">
            <TransactionViolation hasAttributes="Y">
                <TransactionInformation hasAttributes="Y"/>
                <TransactionApproverList hasAttributes="Y">
                    <TransactionApprover hasAttributes="Y"/>
                </TransactionApproverList>
                <TransactionApprovalStatusList hasAttributes="Y">
                    <TransactionApprovalStatus hasAttributes="Y"/>
                </TransactionApprovalStatusList>
                <TransactionViolationReferenceList hasAttributes="Y">
                    <TransactionViolationReference hasAttributes="Y"/>
                </TransactionViolationReferenceList>
            </TransactionViolation>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TransactionViolation" type="yfc:TransactionViolationXSDType">
        <xsd:annotation yfc:tableName="YFS_TRANSACTION_VIOLATION">
            <xsd:documentation>
                <div>
					An individual violation.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TransactionViolationXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionInformation"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:TransactionApproverList"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:TransactionApprovalStatusList"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:TransactionViolationReferenceList"/>
        </xsd:all>
        <xsd:attribute name="ApprovalRuleID" type="yfctype:VARCHAR2-40" use="required">
            <xsd:annotation yfc:columnName="APPROVAL_RULE_ID" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                <xsd:documentation>ID of Approval Rule that caused violation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Domain" type="yfctype:VARCHAR2-100" use="required">
            <xsd:annotation yfc:columnName="DOMAIN" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                <xsd:documentation>Domain of the corresponding Validation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MessageCode" type="yfctype:VARCHAR2-100" use="optional">
            <xsd:annotation yfc:columnName="MESSAGE_CODE" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                <xsd:documentation>Message code to be displayed when approval rule is violated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:CHAR-24" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                <xsd:documentation>Organization Code of org that owns the rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SequenceNumber" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE_NUMBER" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                <xsd:documentation>Number to identify the violation sequence within a transaction.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:NUMBER-4"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Status" use="required">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                <xsd:documentation>The status of the violation.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:ViolationStatus"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TransactionInfoID"
            type="yfctype:VARCHAR2-10" use="optional">
            <xsd:annotation yfc:columnName="TRANSACTION_INFO_ID" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                <xsd:documentation>The Reference to the transaction that resulted in a violation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionViolationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TRANSACTION_VIOLATION_KEY" yfc:tableName="YFS_TRANSACTION_VIOLATION">
                <xsd:documentation>Primary Key attribute of YFS_TRANSACTION_VIOLATION.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="TransactionInformation">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The element containing the unique fields for a given
						Concrete Transaction Info table.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_TRANSACTION_INFO">
                    <xsd:documentation>Primary key for YFS_ORDER_HEADER</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionApproverList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TransactionApprover"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
						The total number of
						<code>Approvers</code>
						.
					</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionApprover">
        <xsd:annotation yfc:tableName="YFS_TRANSACTION_APPROVER">
            <xsd:documentation>
                <div>
							An individual approver.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApproverUserGroupID"
                type="yfctype:CHAR-25" use="optional">
                <xsd:annotation yfc:columnName="APPROVER_USER_GROUP_ID" yfc:tableName="YFS_TRANSACTION_APPROVER">
                    <xsd:documentation>The User Group that can approve the violation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApproverUserTeam"
                type="yfctype:VARCHAR2-40" use="optional">
                <xsd:annotation yfc:columnName="APPROVER_USER_TEAM" yfc:tableName="YFS_TRANSACTION_APPROVER">
                    <xsd:documentation>The Team that can approve the violation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DelegateUserID"
                type="yfctype:VARCHAR2-50" use="optional">
                <xsd:annotation yfc:columnName="DELEGATE_USER_ID" yfc:tableName="YFS_TRANSACTION_APPROVER">
                    <xsd:documentation>The UserID of the delegate that has been assigned to approve the violation on behalf on the main UserID.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionApproverKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="TRANSACTION_APPROVER_KEY" yfc:tableName="YFS_TRANSACTION_APPROVER">
                    <xsd:documentation>Primary Key attribute of YFS_TRANSACTION_APPROVER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserID" type="yfctype:VARCHAR2-50" use="required">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_TRANSACTION_APPROVER">
                    <xsd:documentation>The UserID of the user that can approve the violation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionApprovalStatusList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TransactionApprovalStatus"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
						The total number of
						<code>Approval Statuses</code>
						.
					</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionApprovalStatus">
        <xsd:annotation yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
            <xsd:documentation>
                <div>
							The Status of a the approver.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApproverComments"
                type="yfctype:VARCHAR2-2000" use="optional">
                <xsd:annotation yfc:columnName="APPROVER_COMMENTS" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>Place Holder to capture comments entered by the approver.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApproverSequence" use="optional">
                <xsd:annotation yfc:columnName="APPROVER_SEQUENCE" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>The sequence of the approver.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NUMBER-10"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ApproverUserID"
                type="yfctype:VARCHAR2-50" use="optional">
                <xsd:annotation yfc:columnName="APPROVER_USER_ID" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>The UserID of the user who has approved or rejected the violation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsMandatory" type="yfctype:CHAR-1" use="optional">
                <xsd:annotation yfc:columnName="IS_MANDATORY" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>Indicator to determine if approval is mandatory based on the signature policy of the validation definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreviousApproverSequence"
                type="yfctype:ApprovalPlanPredecessorSeq" use="optional">
                <xsd:annotation yfc:columnName="PREVIOUS_APPROVER_SEQ" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>The sequence of the previous approver.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_TRANS_APPROVAL_STATUS">
                    <xsd:documentation>The status of the approval.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:ViolationStatus"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionViolationReferenceList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TransactionViolationReference"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
						The total number of
						<code>Violation References</code>
						.
					</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionViolationReference">
        <xsd:annotation yfc:tableName="YFS_TRANS_VIOLATION_REFERENCE">
            <xsd:documentation>
                <div>
							A Violation Reference.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ReferenceName"
                type="yfctype:VARCHAR2-40" use="required">
                <xsd:annotation yfc:columnName="REFERENCE_NAME" yfc:tableName="YFS_TRANS_VIOLATION_REFERENCE">
                    <xsd:documentation>The identifier for the additional reference value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceValue"
                type="yfctype:VARCHAR2-40" use="required">
                <xsd:annotation yfc:columnName="REFERENCE_VALUE" yfc:tableName="YFS_TRANS_VIOLATION_REFERENCE">
                    <xsd:documentation>Value of the additional reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
