Data/xapidocs/api_javadocs/XSD/YSC_getSyncDBExportList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getSyncDBExportList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getSyncDBExportList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getSyncDBExportList_input.xsd" yfc:rootElement="SyncDBExport">
        <xsd:appinfo source="yfc:structure">
            <SyncDBExport hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SyncDBExport" type="yfc:SyncDBExportXSDType">
        <xsd:annotation yfc:tableName="YFS_SYNC_DB_EXPORT">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>If TableGroup is not specified.
						</Condition>
                        <Error
                            Description="Missing Mandatory Parameters" ErrorCode="YFS10364"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SyncDBExportXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						If
						<code>CallingOrganizationCode</code>
						is passed, the
						<code>SyncDBExport</code>
						list for this
						<code>CallingOrganizationCode</code>
						is returned.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DBExportTime" use="optional">
            <xsd:annotation yfc:columnName="DB_EXPORT_TIME" yfc:tableName="YFS_SYNC_DB_EXPORT">
                <xsd:documentation>The time that the export took place</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:HourMinuteTimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SYNC_DB_EXPORT">
                <xsd:documentation>The organization that performed the export.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SequenceNo" type="yfctype:Counter" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_SYNC_DB_EXPORT">
                <xsd:documentation>Sequence number assigned to exported sync file.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncDBExportKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SYNC_DB_EXPORT_KEY" yfc:tableName="YFS_SYNC_DB_EXPORT">
                <xsd:documentation>The primary key of the YFS_SYNC_DB_EXPORT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncProfileID"
            type="yfctype:SyncTableID-40" use="optional">
            <xsd:annotation yfc:columnName="SYNC_PROFILE_ID" yfc:tableName="YFS_SYNC_DB_EXPORT">
                <xsd:documentation>The ID of the SyncProfile that was exported.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncType" type="yfctype:ID-15" use="optional">
            <xsd:annotation yfc:columnName="SYNC_TYPE" yfc:tableName="YFS_SYNC_DB_EXPORT">
                <xsd:documentation>The type of synchronization (FULL or DELTA).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TableGroup" type="yfctype:SyncTableID-40" use="required">
            <xsd:annotation yfc:columnName="TABLEGROUP" yfc:tableName="YFS_SYNC_DB_EXPORT">
                <xsd:documentation>The TableGroup associated with the profile exported.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
