Data/xapidocs/api_javadocs/XSD/YSC_CHANGE_DATA_IMPORT.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/CHANGE_DATA_IMPORT/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/CHANGE_DATA_IMPORT/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_CHANGE_DATA_IMPORT.ON_SUCCESS.xsd" yfc:rootElement="Commit">
        <xsd:appinfo source="yfc:structure">
            <Commit hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Commit" type="yfc:CommitXSDType"/>
    <xsd:complexType name="CommitXSDType">
        <xsd:attribute name="ColonyId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="DateOfExecution" type="yfctype:String" use="optional"/>
        <xsd:attribute name="FileProcessed" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Status" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
