Data/xapidocs/api_javadocs/XSD/YSC_manageUploadJobRecord_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageUploadJobRecord/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageUploadJobRecord/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_manageUploadJobRecord_output.xsd" yfc:rootElement="UploadJobRecord">
        <xsd:appinfo source="yfc:structure">
            <UploadJobRecord hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UploadJobRecord" type="yfc:UploadJobRecordXSDType">
        <xsd:annotation yfc:tableName="YFS_UPLOAD_JOB_RECORD">
            <xsd:documentation>This table contains the Upload Job Records.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UploadJobRecordXSDType">
        <xsd:attribute name="JobRecordKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="JOB_RECORD_KEY" yfc:tableName="YFS_UPLOAD_JOB_RECORD">
                <xsd:documentation>Primary key of the Upload Job Record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
