Data/xapidocs/api_javadocs/XSD/YSC_CHANGE_DATA_IMPORT.ON_FAILURE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/CHANGE_DATA_IMPORT/ON_FAILURE"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/CHANGE_DATA_IMPORT/ON_FAILURE" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_CHANGE_DATA_IMPORT.ON_FAILURE.xsd" yfc:rootElement="Commit">
        <xsd:appinfo source="yfc:structure">
            <Commit hasAttributes="Y">
                <FailedEntities hasAttributes="Y">
                    <FailedEntity hasAttributes="Y"/>
                </FailedEntities>
            </Commit>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Commit" type="yfc:CommitXSDType"/>
    <xsd:complexType name="CommitXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FailedEntities"/>
        </xsd:all>
        <xsd:attribute name="ColonyId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="DateOfExecution" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Filename" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Status" type="yfctype:String" use="optional"/>
        <xsd:attribute name="TableType" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ZipFileName" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="FailedEntities">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FailedEntity"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FailedEntity">
        <xsd:complexType>
            <xsd:attribute name="ConflictingChangeRequestKey"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PrimaryKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TableName" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
