Data/xapidocs/api_javadocs/XSD/YSC_manageChangeRequestUser_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageChangeRequestUser/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageChangeRequestUser/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_manageChangeRequestUser_input.xsd" yfc:rootElement="ChangeRequestUser">
        <xsd:appinfo source="yfc:structure">
            <ChangeRequestUser hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeRequestUser" type="yfc:ChangeRequestUserXSDType">
        <xsd:annotation yfc:tableName="YFS_CHANGE_REQUEST_USER">
            <xsd:documentation>This table stores information about users working on a change request.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeRequestUserXSDType">
        <xsd:attribute name="ChangeRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_REQUEST_KEY" yfc:tableName="YFS_CHANGE_REQUEST_USER">
                <xsd:documentation>The reference key to the YFS_CHANGE_REQUEST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChangeRequestUserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_REQUEST_USER_KEY" yfc:tableName="YFS_CHANGE_REQUEST_USER">
                <xsd:documentation>Primary key attribute of YFS_CHANGE_USER_ASSIGNMENT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayLocalizedFieldInLocale"
            type="yfctype:Locale" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The locale for which output should be returned. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Operation" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Operation to take
						<br/>
						Valid Values:
						<br/>
                        <b>
                            <code>Manage</code>
                        </b>
						- Creates a new record if it does not exist or modifies an
						existing record if it does.
						<br/>
                        <b>
                            <code>Create</code>
                        </b>
						- Creates a new record.
						<br/>
                        <b>
                            <code>Modify</code>
                        </b>
						- Changes the value of an existing record.
						<br/>
                        <b>
                            <code>Delete</code>
                        </b>
						- Deletes an existing record.
						<br/>
						The default behavior is
						<b>
                            <code>Manage</code>
                        </b>
						.
						<Validation>
                            <Condition>The record has invalid values or references to non-existing records.</Condition>
                            <Error
                                Description="Change Request cannot be found with the ChangeRequestKey passed." ErrorCode="YSC91A_0001"/>
                        </Validation>
                        <Validation>
                            <Condition>Only a valid user can perform this action on this Change Project or Change Request.</Condition>
                            <Error
                                Description="Only a valid user can perform this action on this Change Project or Change Request." ErrorCode="YSC91A_0006"/>
                        </Validation>
                        <Validation>
                            <Condition>Operation not permitted against the Change Request or Change Project</Condition>
                            <Error
                                Description="Operation not permitted against the Change Request or Change Project." ErrorCode="YSC91A_0007"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserID" type="yfctype:LoginId-50" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_CHANGE_REQUEST_USER">
                <xsd:documentation>The identifier for the user who worked on the change request. This is taken from the Environment if not passed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
