Data/xapidocs/api_javadocs/XSD/YSC_manageUploadJobRecord_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/manageUploadJobRecord/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/manageUploadJobRecord/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_manageUploadJobRecord_input.xsd" yfc:rootElement="UploadJobRecord">
        <xsd:appinfo source="yfc:structure">
            <UploadJobRecord hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UploadJobRecord" type="yfc:UploadJobRecordXSDType">
        <xsd:annotation yfc:tableName="YFS_UPLOAD_JOB_RECORD">
            <xsd:documentation>This table contains the Upload Job Records.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UploadJobRecordXSDType">
        <xsd:attribute name="Action" type="yfctype:String" use="required"/>
        <xsd:attribute name="JobKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="JOB_KEY" yfc:tableName="YFS_UPLOAD_JOB_RECORD">
                <xsd:documentation>Foreign key of the Upload Job.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="JobRecordStatus" type="yfctype:String" use="optional"/>
        <xsd:attribute name="UnparsedRecord" type="yfctype:BLOB" use="optional">
            <xsd:annotation yfc:columnName="UNPARSED_RECORD" yfc:tableName="YFS_UPLOAD_JOB_RECORD">
                <xsd:documentation>Stores the Unparsed Record</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
