Data/xapidocs/api_javadocs/XSD/YSC_getTransformationData_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YSC/getTransformationData/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YSC/getTransformationData/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YSC_getTransformationData_input.xsd" yfc:rootElement="TransformationConfig">
        <xsd:appinfo source="yfc:structure">
            <TransformationConfig hasAttributes="Y">
                <TransformationHeader hasAttributes="Y"/>
            </TransformationConfig>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TransformationConfig" type="yfc:TransformationConfigXSDType">
        <xsd:annotation yfc:tableName="YFS_TRANSFORMATION_CONFIG">
            <xsd:documentation>This table contains the Configuration Data for Transformation Template.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TransformationConfigXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransformationHeader"/>
        </xsd:all>
        <xsd:attribute name="DisplayLocalizedFieldInLocale"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>This attribute corresponds to input to access the locale specific data, input expected in form of 
						Language_Country_Varient <code>Eg.en_US_EST</code>. 
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:ListenerStatus" use="required">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>
                    <div>Document Type of the corresponding Document . Eg <code>0015</code> for <code>"Quote"</code>
                        <Validation>
                            <Condition>Must be valid Document Type in the table <code>YFS_Document_Params</code>.
								</Condition>
                            <Error Description="Invalid Document Type." ErrorCode="YFS10367"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TemplateCode" type="yfctype:VarcharID-24" use="required">
            <xsd:annotation yfc:columnName="TEMPLATE_CODE" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>
                    <div>Template Code for the Document Type.It represents the type for which template will be used.  E.g:<code>Print Proposal</code> for printing the Proposal.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransformationConfigKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TRANSFORMATION_CONFIG_KEY" yfc:tableName="YFS_TRANSFORMATION_CONFIG">
                <xsd:documentation>Primary key of the Transformation Config.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="TransformationHeader">
        <xsd:annotation yfc:tableName="YFS_TRANSFORMATION_HEADER">
            <xsd:documentation>This table contains the Transformation Data for different Organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                    <xsd:documentation>
                        <div>Organization Code for an organization.
							<Validation>
                                <Condition>Must be valid Organization Code in the table <code>YFS_Organization</code>.
										</Condition>
                                <Error
                                    Description="Invalid Organization Code." ErrorCode="YFS10395"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TemplateName"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="TEMPLATE_NAME" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                    <xsd:documentation>
                        <div>This attribute corresponds to name of different templates for the corresponding Template Code. Eg <code>"Template for Government" </code>for <code>"Print Proposal"</code>. 
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransformationHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="TRANSFORMATION_HEADER_KEY" yfc:tableName="YFS_TRANSFORMATION_HEADER">
                    <xsd:documentation>Primary key of the Transformation Header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
